<!-- LEFT MENU OF BLOG -->
<div class="flex flex-col relative shrink-0 w-[350px] visible pt-[50px] pl-[50px] mr-[50px]">
    <div>
        <p class="text-[15pt] ml-[120px] font-bold font-custom" style="color:#23562A;">DANH MỤC</p>
        <hr class="w-[350px] desktop:hidden mt-3">
    </div>
    <div class="text-[13pt]">
        <a routerLink="/blogcategory" class="overflow-hidden whitespace-nowrap">
            <dd class="collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[350px]">Mùa nào cây nấy</dd>
            <hr class="w-[350px] desktop:hidden mt-3" >
        </a>
        <a routerLink="/" class="overflow-hidden whitespace-nowrap">
            <dd class="collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[350px]">Nơi khơi màu cảm xúc</dd>
            <hr class=" w-[350px] desktop:hidden mt-3" >
        </a>
        <a routerLink="/" class="overflow-hidden whitespace-nowrap">
            <dd class="collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[350px]">Không gian sống xanh cùng INDOFA</dd>
            <hr class="w-[350px] desktop:hidden mt-3">
        </a>
        <a routerLink="/blogs" class="overflow-hidden whitespace-nowrap">
            <dd class="collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[350px]" >Tất cả bài viết</dd>
            <hr class="w-[350px] desktop:hidden mt-3" >
        </a>
    </div> 
</div>
