<div class="flex flex-wrap">
    <p class="text-[#23562A] text-[30pt] font-bold">SẢN PHẨM</p>
    <div class=" flex flex-wrap mt-[15px] ml-auto ">
    <div class="searchbox w-[285px] mr-[10px]" id="searchbox">
      <div class="relative w-[285px] h-[30px]">
        <input type="text" class="pl-[20px] rounded-[10px] text-[13px] w-full h-full py-[10px] bg-[#FEFFF8] border-2 border-[#23562A]"  placeholder="Tìm kiếm sản phẩm...">
        <div class="btn btn_common">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </div>
    <div class="bg-[#23562A] w-[181px] h-[30px] text-white pl-3 pr-3 text-[10pt] rounded-[10px] pt-[6px] cursor-pointer mr-[10px]"  >
      <p class="float-left">Thêm bài viết</p>
      <p class="float-right">+</p>
    </div>
    <select class="w-[200px] h-[30px] text-[10pt] rounded-[10px] mr-[10px]" style="border: 2px solid #23562A">
      <option class="text-black">Lọc theo danh mục...</option>
      <option>Củ quả</option>
      <option>Hoa</option>
    </select>
</div>
  </div>
<!-- Hiển thị bài viết -->

<table class="w-full text-center">
    <tr>
        <th>ID</th>
        <th>Danh mục</th>
        <th>Tiêu đề</th>
        <th>Người tạo</th>
        <th>Chỉnh sửa</th>
    </tr>
    <tbody>
      <tr>
        <td>SEASON-1</td>
        <td>season</td>
        <td>MÙA XUÂN NỞ RỘ</td>
        <td>Admin</td>
        <td>
          <button
            class="w-[100px] h-[35px] rounded-[10px] text-white text-[10pt]" style=" background-color: #23562A;">
            Chỉnh sửa</button>
          <button
            class="w-[74px] h-[35px] rounded-[10px] text-white text-[10pt] ml-[5px]" style=" background-color: #FB6565; ">
            Xóa</button>
        </td>
      </tr>
      <tr>
        <td>SPACE-1</td>
        <td>space</td>
        <td>KHÔNG GIAN SỐNG XANH</td>
        <td>Admin</td>
        <td>
          <button
            class="w-[100px] h-[35px] rounded-[10px] text-white text-[10pt]" style=" background-color: #23562A;">
            Chỉnh sửa</button>
          <button
            class="w-[74px] h-[35px] rounded-[10px] text-white text-[10pt] ml-[5px]" style=" background-color: #FB6565; ">
            Xóa</button>
        </td>
      </tr>
    </tbody>
</table>
