<div class="about-us-pots grid grid-cols-[4fr_7fr] w-full">
  <div class="relative">
    <img src="assets/pot_au.png" class="object-contain max-w-full max-h-full h-auto" alt="Your image description">
  </div>
  <div>
    <h1 class="text-[#23562A] font-bold">INDOFA - MANG CẢ THẾ GIỚI ĐẾN BÊN BẠN</h1>
    <br>
    <div class="w-[80%] text-left px-[40px] text-[1.2em]">
      <p>Tự do, sáng tạo và là một biểu tượng của tình yêu và tôn vinh cho vẻ đẹp tự nhiên, Indofa không đơn giản chỉ là
        một thương hiệu, mà là một trái tim đang đập mạnh trong cuộc sống của mỗi người trẻ tại Indofa.
      </p>
      <p>Với Indofa, bạn không cần phải rời xa ngôi nhà của mình để tìm kiếm khoảnh khắc yên bình và thư giãn. Chúng tôi
        đã tạo ra một hòn đảo xanh mát ngay tại ngôi nhà của bạn. Chúng tôi đưa thiên nhiên vào cuộc sống hàng ngày của
        bạn thông qua các sản phẩm chất lượng cao, hạt giống đa dạng và dịch vụ thiết kế thiệp mời độc đáo.
      </p>
      <p>Tại Indofa, chúng tôi không chỉ cung cấp sản phẩm - chúng tôi tạo ra một cộng đồng đam mê cây cỏ và môi trường.
        Chúng tôi muốn chia sẻ niềm đam mê của mình với bạn và thúc đẩy sự kết nối giữa mọi người. Hãy cùng nhau khám
        phá một thế giới đầy màu sắc và hương thơm, nơi bạn có thể tận hưởng không gian sống của riêng mình một cách dễ
        chịu nhất.
      </p>
      <button
        class="bg-[#FEFFF8] border-[2px] border-solid border-green-900 rounded-[20px] py-3 px-6 text-[#23562A] font-bold text-[1em]">
        TÌM HIỂU NGAY
      </button>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <h1 class="text-center text-[#23562A] font-bold">KHÁCH HÀNG NÓI GÌ VỀ INDOFA?</h1>
  <br>
  <div class="flex justify-between gap-5 mx-auto translate-x-[-50%] w-[90%]">
    <app-about-us-review class="basis-full"
      [content]="'“Mình đã từng mua ở nhiều shop nhưng khi đến với Indofa mình mới cảm nhận thực sự được một không gian sống xanh. Indofa đem đến cảm giác tươi mát và giá thành rẻ hơn so với một vài nơi. Chúc Indofa ngày càng phát triển hơn nữa.”'"
      [name]="'Văn An'" [place]="'Thành phố Hồ Chí Minh'"></app-about-us-review>
    <app-about-us-review class="basis-full"
      [content]="'“Lần đầu tiên có shop quan tâm đến việc tặng quà cho người thân. Mình rất thích tính năng này, mình đã sử dụng và lựa chọn màu cho tấm card để tặng chị mình. Rất cute cực kỳ lun í. Mong Indofa sẽ cho mình nhiều sản phẩm tuyệt vời hơn nữa.”'"
      [name]="'Phương Anh'" [place]="'Đắk Lắk'"></app-about-us-review>
    <app-about-us-review class="basis-full"
      [content]="'“Đội ngũ tư vấn khá nhiệt tình. Các thông tin về sản phẩm rất rõ ràng và chi tiết. Shop 10 điểm không có nhưng luôn ạ!”'"
      [name]="'Mai Thu'" [place]="'Nam Định'"></app-about-us-review>
  </div>
</div>
<br>
<br>
<div>
  <h1 class="text-center text-[#23562A] font-bold">ĐỘI NGŨ INDOFA</h1>
  <br>
  <div class="flex justify-between px-[40px]">
    <app-about-us-member [name]="'Thúy Hiền'"></app-about-us-member>
    <app-about-us-member [name]="'Thanh Mai'"></app-about-us-member>
    <app-about-us-member [name]="'Huỳnh Nga'"></app-about-us-member>
    <app-about-us-member [name]="'Nguyễn Nghĩa'"></app-about-us-member>
    <app-about-us-member [name]="'Yến Nhi'"></app-about-us-member>
  </div>
</div>
