<div class="leading-[30px] text-center text-[14pt] pb-[50px] font-normal">
  <a href="#" routerLink="{{ product.productID }}" class="relative group flex flex-col items-center">
    <img src="{{ product.productImgReduce }}" class="object-cover w-auto h-full mb-4">
    <p class="font-bold text-[12pt]">{{ product.productTitle }}</p>
    <p class="text-[12pt] text-gray-500">{{ product.productPrice }} VNĐ</p>

    <div class="hidden group-hover:block absolute bottom-[75px] w-[250px] p-[16px] bg-[#E7F4E5] text-[#23562A] text-[12pt] opacity-80 font-custom text-center">
      THÊM VÀO GIỎ HÀNG
    </div>
  </a>
</div>
