<div *ngFor="let product of cart.products">
  <div class="border-3px border-solid border-[#23562A] border w-[90%]"
    style="margin-left: 50%;transform: translateX(-50%); margin-top: 30px; width: 90%">
    <img [src]=" product.imgbase64_reduce " alt="Product Image"
      style="display: inline-block; width: 180px; height: 180px; padding:10px" class="justify-center" />
    <div style="display: inline-block; margin-left: 18px; margin-top:20px">
      <h3 class="mb-4">{{ product.name }}</h3>
      <p style="margin-top: 10px; color:#9A9898">{{ product.price }}</p>
      <p style="margin-top: 10px; color:#9A9898">x{{ product.quantity }} sản phẩm</p>
    </div>
  </div>
</div>
<div class="align-items:center border-3px border-solid border-[#23562A] border w-[90%]"
  style="margin-left: 50%;transform: translateX(-50%); margin-top: 30px; width: 90%">
  <div style="padding:5px" class="flex justify-between">
    <div>
      <img src="assets/Payment/transport.png" alt="Product Image"
        style="display: inline-block; width: 30px; padding-left: 8px;" />
      <p
        style="display:flex; display: inline-block; font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; color: #23562A; padding: 10px;">
        Giao hàng tiết kiệm
      </p>
      <p style="color:#9A9898; font-size:13px; padding-left: 40px;">Nhận hàng vào {{ Date }}</p>
    </div>
    <div>
      <p style="font-size:18px; padding-top: 30px; padding-right: 50px;">10.000 VNĐ</p>
    </div>
  </div>
  <hr
    style="height:1px;border-width:0;color:#23562A;background-color:#23562A; width: 95%; margin-top: 0.5em; margin-left: 0.5em;">
  <div style="padding:5px" class="flex justify-between">
    <div>
      <p
        style="display:flex; display: inline-block; font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; padding-left: 10px; padding-top: 5px;">
        Tổng tiền
      </p>
    </div>
    <div>
      <p style="font-size:19px; padding-right: 50px; font-weight: bold; color: #23562A; padding-top: 5px;">{{ totalPrice
        }}
        VNĐ</p>
    </div>
  </div>
</div>
<div class="flex justify-between align-items:center border-3px border-solid border-[#23562A] border w-[90%]"
  style="margin-left: 50%;transform: translateX(-50%); margin-top: 30px; width: 90%">
  <div>
    <img src="assets/Payment/coupon.png" alt="coupon image" style="display: inline-block; width: 70px;" />
    <p
      style="display: inline-block; font-family: Noto Sans; font-weight: bolder; font-size: 18px; line-height: 25px; color: #23562A;">
      INDOFA VOUCHER
    </p>
  </div>
  <div class="flex align-items-center" style="padding-right: 8px;">

    <input class="border-[1px] border-[#D9D9D9] rounded-[5px] border-solid mr-[20px]" type="text" [(ngModel)]="couponCode">
    <button
    style="background-color: #23562A; color: white; padding: 10px 0px; border: none; border-radius: 5px; cursor: pointer; width: 150px; height: 50px;"
    (click)="CheckCoupon(couponCode)">Áp dụng</button>
  </div>

</div>
<div class="flex justify-between align-items:center border-3px border-solid border-[#23562A] border w-[90%]"
  style="margin-left: 50%;transform: translateX(-50%); margin-top: 30px; width: 90%">
  <div>
    <img src="assets/Payment/money.png" alt="payment methods image"
      style="display: inline-block; width: 30px; padding-left: 10px;" class=" justify-center" />
    <p
      style="display: inline-block; font-family: Noto Sans; font-weight: bold; font-size: 18px; line-height: 25px; color: #23562A; padding: 5px">
      Phương thức thanh toán
    </p>
  </div>
  <div class="align-items:center" style="padding-right: 50px;padding-top:5px">
    <p><a [routerLink]="'/paymentmethods'" style="text-decoration: none; color: #23562A;"
        onmouseover="this.style.color='#FF0000'" onmouseout="this.style.color='#23562A'"> <img
          src="assets/Payment/Vector.png" alt="vector image" style="display: inline-block; width: 14px;"
          class=" justify-center" /></a></p>
  </div>
</div>
<div class="align-items:center border-3px border-solid border-[#23562A] border w-[90%]"
  style="margin-left: 50%;transform: translateX(-50%); margin-top: 30px; width: 90%">
  <div class="flex justify-between" style="padding-top: 10px;">
    <div>
      <img src="assets/Payment/payment.png" alt="receipt image"
        style="display: inline-block; width: 30px; padding-left: 8px;" class=" justify-center" />
      <p
        style="display: inline-block; font-family: Noto Sans; font-weight: bold; font-size: 18px; line-height: 25px; color: #23562A; padding-left: 10px;">
        Chi tiết thanh toán
      </p>
      <p style="font-size:18px; padding-left: 40px; padding-top: 5px;">Tổng đơn hàng</p>
    </div>
    <div>
      <p style="font-size:18px; padding-top: 30px; padding-right: 50px;">{{ totalPrice }} VNĐ</p>
    </div>
  </div>
  <hr
    style="height:1px;border-width:0;color:#23562A;background-color:#23562A; width: 95%; margin-top: 0.5em; margin-left: 0.5em;">
  <div class="flex justify-between" style="padding-top: 10px;">
    <div>
      <p style="font-size:18px; padding-left: 40px; padding-top: 5px;">Tổng tiền phí vận chuyển</p>
    </div>
    <div>
      <p style="font-size:18px; padding-right: 50px;">{{ NumberWithCommas(shippingFee) }} VNĐ</p>
    </div>
  </div>
  <hr
    style="height: 1px;border-width:0;color:#23562A;background-color:#23562A; width: 95%; margin-top: 0.5em; margin-left: 0.5em;">
  <div class="flex justify-between" style="padding-top: 10px;">
    <div>
      <p style="font-size:18px; padding-left: 40px; padding-top: 5px;">Giảm giá phí vận chuyển</p>
    </div>
    <div>
      <p style="font-size:18px; padding-right: 50px;">{{ NumberWithCommas(totalDiscount) }} VNĐ</p>
    </div>
  </div>
  <hr
    style="height:1px;border-width:0;color:#23562A;background-color:#23562A; width: 95%; margin-top: 0.5em; margin-left: 0.5em;">
  <div class="flex justify-between" style="padding-top: 10px;">
    <div style="margin-bottom:10px">
      <p style="font-size:21px; font-weight: bold; padding-left: 40px;">Tổng
        thanh toán</p>
    </div>
    <div>
      <p style="font-size:21px; color:#23562A; font-weight: bold; padding-right: 50px;">{{ finalPrice }} VNĐ</p>
    </div>
  </div>
</div>
<div
  style="gap: 1rem; padding-bottom: 10px; margin-left: 50%; transform: translateX(-50%); margin-top: 30px; width: 90%;"
  class="flex justify-between">
  <div>

  </div>
  <div>
    <a>
      <button
        style="background-color: #23562A; color: white; padding: 10px 0px; border: none; border-radius: 5px; cursor: pointer; width: 150px; height: 50px;"
        (click)="createOrder()">ĐẶT HÀNG</button>
    </a>
  </div>
</div>
