@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Noto Sans';
  background-color: #FEFFF8;
}

@font-face {
  font-family: 'BDLifelessGrotesk';
  src:
       url(./fonts/BDLifelessGrotesk-ExtraBold.ttf) format("truetype");
}

.font-normal {
  font-family: 'Noto Sans';
}

.font-custom {
  font-family: 'BDLifelessGrotesk', cursive;
}
