<div class="grid grid-cols-[6fr_4fr] mt-[10px] border border-1px border-solid border-[#23562A]">
    <div class="grid grid-cols-[3fr_7fr] gap-x-5">
        <img src="{{image_url}}" alt="" class="p-[5px]">
        <div class="font-noto-sans">
            <p class="font-bold text-[#23562A] text-[14px]">{{coupon_value}}</p>
            <p class="text-[10px]">Đơn tối thiểu từ {{coupon_condition}}</p>
        </div>
    </div>
    <div class="text-right relative">
        <input class="mt-[28px] mr-[10px]" type="radio">
    </div>
</div>