
<div class="font-sans">

  <p class="text-center text-[28pt] text-[#23562A] font-bold " >MÙA NÀO CÂY NẤY</p>
  
  <div class="mx-[40px] my-[32px]">
  <div class="w-[338px] h-[236px] leading-[45px] float-left " style="border: 1px solid #23562A;">
    <div class="flex flex-col items-center ">
    <p class="text-[17pt] text-center font-bold" style="color:#23562A;">DANH MỤC</p>
     <hr class="w-[279px] " style="border-color:#23562A;">
    </div>
    <div class="text-[14pt]  mx-[12px] ">
    
    <dd class="hover:bg-[#E7F4E5] " ><a href="#">Nơi khơi màu cảm xúc</a></dd>
    <dd class="hover:bg-[#E7F4E5]"><a href="#">Mùa nào cây nấy</a></dd>
    <dd class="hover:bg-[#E7F4E5]" ><a href="#">Không gian sống xanh cùng INDOFA</a></dd>
    <dd class="hover:bg-[#E7F4E5]" ><a href="#">Tất cả bài viết</a></dd></div>
  </div>
  
  
  <div class="hover:bg-[#F5F5F5] ml-[365px] w-[936px] h-[203px] ">  <a href="#">
  <img src="../../assets/img/Rectangle 117.png" class="w-[331px] h-[204px]  float-left ">
  
  <div class="pl-[355px] text-justify">
  
  <p class="text-[14pt] font-bold text-[#23562A] ">Mùa xuân nở rộ  </p>
  <div class="text-[12pt] italic text-[#23562A]">
    <p>Huỳnh Nga</p>
    <p>28/10/2023</p>
  </div>
  <p>Mùa xuân là thời điểm lý tưởng để thêm một chút sức sống vào ngôi nhà của bạn bằng cách trồng cây cảnh trong nhà. </p>
  </div></a></div>
  
  
  </div>
  <div class="hover:bg-[#F5F5F5] ml-[404px] w-[936px] h-[203px] ">  <a href="#">
    <img src="../../assets/img/Rectangle 118.png" class="w-[331px] h-[204px]  float-left ">
    
    <div class="pl-[355px] text-justify">
    
    <p class="text-[14pt] font-bold text-[#23562A] ">Màu xanh đón hè về </p>
    <div class="text-[12pt] italic text-[#23562A]">
      <p>Thanh Mai</p>
      <p>21/10/2023</p>
    </div>
    <p>Mùa hè đem lại ánh nắng sáng rực rỡ, nhiệt độ cao, và nhiều hoạt động ngoài trời thú vị. </p>
    </div></a></div>
    <div class="hover:bg-[#F5F5F5] ml-[404px] mt-[31px] w-[936px] h-[203px] ">  <a href="#">
      <img src="../../assets/img/Rectangle 119.png" class="w-[331px] h-[204px]  float-left ">
      
      <div class="pl-[355px] text-justify">
      
      <p class="text-[14pt] font-bold text-[#23562A] ">Vẻ đẹp của mùa thu </p>
      <div class="text-[12pt] italic text-[#23562A]">
        <p>Yến Nhi</p>
        <p>14/10/2023</p>
      </div>
      <p>Mùa thu là một trong những thời điểm đẹp nhất của năm, khi thiên nhiên biến đổi thành một bức tranh sắc màu tuyệt đẹp </p>
      </div></a></div> 
      <div class="hover:bg-[#F5F5F5] ml-[404px] mt-[31px] w-[936px] h-[203px] ">  <a href="#">
        <img src="../../assets/img/Rectangle 120.png" class="w-[331px] h-[204px]  float-left ">
        
        <div class="pl-[355px] text-justify">
        
        <p class="text-[14pt] font-bold text-[#23562A] ">Mùa đông ấm dần </p>
        <div class="text-[12pt] italic text-[#23562A]">
          <p>Nguyễn Nghĩa</p>
          <p>2/10/2023</p>
        </div>
        <p>Mùa đông có thể đặt ra một thách thức đối với việc trồng cây cảnh trong nhà, do ánh sáng thấp hơn và nhiệt độ thấp hơn. </p>
        </div></a></div>
        
  </div>