<div class="font-sans">
    <p class="pl-[720px] text-[28pt] text-[#23562A] font-bold" >MÙA XUÂN NỞ RỘ</p>
    
    
    <div class="mx-[40px] my-[32px]">
    <div class="w-[338px] h-[236px] leading-[45px] float-left mt-2" style="border: 1px solid #23562A;">
      <div class="flex flex-col items-center ">
      <p class="text-[17pt] text-center font-bold" style="color:#23562A;">DANH MỤC</p>
       <hr class="w-[279px] " style="border-color:#23562A;">
      </div>
      <div class="text-[14pt]  mx-[12px] ">
      
      <dd class="hover:bg-[#E7F4E5] " ><a href="#">Nơi khơi màu cảm xúc</a></dd>
      <dd class="hover:bg-[#E7F4E5]"><a href="#">Mùa nào cây nấy</a></dd>
      <dd class="hover:bg-[#E7F4E5]" ><a href="#">Không gian sống xanh cùng INDOFA</a></dd>
      <dd class="hover:bg-[#E7F4E5]" ><a href="#">Tất cả bài viết</a></dd></div>
    </div>
    <div class="text-justify pl-[375px]  text-[16pt] ">
        <p>
            Mùa xuân là thời điểm lý tưởng để thêm một chút sức sống vào ngôi nhà của bạn bằng cách trồng cây cảnh trong nhà. Không chỉ làm cho không gian trở nên xanh tươi và tươi mát, mà cây trồng trong nhà còn mang lại nhiều lợi ích cho sức khỏe và tâm hồn của bạn. Dưới đây là một số loại cây thích hợp để trồng trong nhà vào mùa xuân và những điều bạn có thể thu hoạch từ chúng.
        </p>
        <p class="text-[#23562A] font-bold leading-[50px]">
            CÂY LƯỠI HỔ
        </p>
        <P>Cây Lưỡi Hổ (Sansevieria): Cây lưỡi hổ, còn được gọi là cây ngọc ngân, là một loại cây cảnh thường được trồng trong nhà do sự dễ dàng chăm sóc. Cây này có khả năng lọc không khí và giảm độc tố, giúp không gian trở nên trong lành hơn. Trong mùa xuân, bạn có thể mong chờ cây lưỡi hổ ra hoa, tạo ra một phần thú vị trong không gian sống của bạn.</P>
       <div class=" items-center text-center  italic">
        <img src="../../assets/img/Rectangle 122.png" class="mx-auto">
        <p>Ảnh: Cây lưỡi hổ (Nguồn: Sưu tầm)</p></div>
        <p class="text-[#23562A] font-bold leading-[50px]">
            CÂY PHÁT TÀI
        </p>
        <P>
            Cây Phát Tài (Zamioculcas zamiifolia): Cây phát tài không chỉ là một biểu tượng của tài lộc mà còn là một loại cây cảnh dễ chăm sóc. Mùa xuân, cây phát tài thường phát triển mạnh mẽ và tạo ra lá xanh rất đẹp. Điều này tạo ra một mảng xanh tươi mới trong không gian sống của bạn, mang lại niềm vui và lợi ích thẩm mỹ.
        </P>
        <div class=" items-center text-center  italic">
        <img src="../../assets/img/Rectangle 127.png" class="mx-auto">
        <p>Ảnh: Cây phát tài (Nguồn: Sưu tầm)</p></div>
    </div>
</div>
<hr  style="border:1px solid #23562A;">
<p class="text-center text-[22pt] text-[#23562A] font-bold " >BÀI VIẾT TIẾP THEO</p>
<div class="flex items-center justify-center mt-[10px]">
<a href="#"><img src="../../assets/img/Next Symbol 8.png" ></a>
<div class="w-[200px] h-[250px]">
<img src="../../assets/img/Rectangle 118.png"  class="w-[250px] h-[150px]">
    <p class="text-[12pt] font-bold text-[#23562A]">Màu xanh đón hè về</p>
    <p class="text-[10pt] text-justify">Mùa hè đem lại ánh nắng sáng rực rỡ, nhiệt độ cao, và nhiều hoạt động ...</p>
    <a href="#">  <div class="relative w-[100px] mt-[10px]">
        <img src="../../assets/img/Frame 59.png"  class="w-full h-auto">
        <img src="../../assets/img/Frame 87.png"  class="w-full h-auto absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
      </div>
</a>
</div>
<div class="w-[200px] h-[250px] ml-[22px]">
    <img src="../../assets/img/Rectangle 116.png " class="w-[250px] h-[150px]" >
        <p class="text-[12pt] font-bold text-[#23562A]">Căn nhà xanh trong mơ</p>
        <p class="text-[10pt] text-justify">Khi cuộc sống ngày càng hiện đại và nơi ở trở nên chật chội, việc tạo ra ...</p>
        <a href="#">  <div class="relative w-[100px] mt-[10px]">
            <img src="../../assets/img/Frame 59.png"  class="w-full h-auto">
            <img src="../../assets/img/Frame 87.png"  class="w-full h-auto absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
    </a>
    </div>

    <div class="w-[200px] h-[250px] ml-[22px]">
        <img src="../../assets/img/Rectangle 120.png " class="w-[250px] h-[150px]" >
            <p class="text-[12pt] font-bold text-[#23562A]">Mùa đông ấm dần</p>
            <p class="text-[10pt] text-justify">Khi cuộc sống ngày càng hiện đại và nơi ở trở nên chật chội, việc tạo ra ...</p>
            <a href="#">  <div class="relative w-[100px] mt-[10px]">
                <img src="../../assets/img/Frame 59.png"  class="w-full h-auto">
                <img src="../../assets/img/Frame 87.png"  class="w-full h-auto absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
              </div>
        </a>
        </div>

        <div class="w-[200px] h-[250px] ml-[22px]">
            <img src="../../assets/img/Rectangle 116-1.png " class="w-[250px] h-[150px]" >
                <p class="text-[12pt] font-bold text-[#23562A]">Cơn gió mùa hè</p>
                <p class="text-[10pt] text-justify">Trong những ngày hè oi bức, một cơn gió mát mẻ thổi qua ngôi nhà nhỏ ...</p>
                <a href="#">  <div class="relative w-[100px] mt-[10px]">
                    <img src="../../assets/img/Frame 59.png"  class="w-full h-auto">
                    <img src="../../assets/img/Frame 87.png"  class="w-full h-auto absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
                  </div>
            </a>
            </div>
            <a href="#"><img src="../../assets/img/Next Symbol 7.png" ></a>
</div>
</div>