<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="bg-[#23562A] py-[13px] w-full pl-[46px]">
    <img src="./assets/images/admin_logo.png" class="w-[160px] h-auto">
</div>
<div class="w-full h-full grid grid-cols-[1fr_4fr] gap-[20px] overflow-hidden">
    <div class="row-span-2">
       <app-left-menu></app-left-menu>
    </div>
    <div class="inline-flex mt-[39px]">
        <p class="font-custom text-[30px] w-full text-[#23562A]">DANH SÁCH KHÁCH HÀNG</p>
        <div class="search_box w-[200px] mr-[10px]">
            <div class=" relative w-[200px] h-[40px]">
                <input type="text"
                    class="pl-[20px] rounded-[10px] text-[13px] w-full h-full py-[10px] bg-[#FEFFF8] border-2 border-[#23562A]"
                    formControlName="searchValue" placeholder="Tìm khách hàng...">
                <div class="btn btn_common">
                    <i class="fas fa-search"></i>
                </div>
            </div>    
        </div>
    </div>
    <div class="mr-[50px] shadow-md mt-[15px] text-center">
        <table class="bg-[#FEFFF8] text-[16px] w-full">
            <tr>
                <th class="py-[20px]">Họ và tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Tổng số đơn hàng</th>
            </tr>
            <tr>
                <td class="text-left pl-[20px] py-[25px]">
                    <p class="font-bold">Phạm Nguyễn Thanh Mai</p>
                </td>
                <td class="mx-[20px]">maipham.09062003gmail.com</td>
                <td>0966544961</td>
                <td class="text-left mx-[20px]">70 Nguyễn Bèo, phường Đập Đá, thị xã An Nhơn, Bình Định</td>
                <td class="text-center">6</td>
            </tr>
            <tr>
                <td class="text-left pl-[19px] py-[25px]">
                    <p class="font-bold">Nguyễn Thị Yến Nhi</p>
                </td>
                <td>yennhibh2003gmail.com</td>
                <td>0373304703</td>
                <td class="text-left mx-[20px] w-[250px]">1348 Đồng Khởi, phường Trảng Dài, thành phố Biên Hòa, Đồng Nai</td>
                <td>10</td>
            </tr>
        </table>
    </div>
</div>
