<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <a routerLink="/profile" class="hover:underline">Tài khoản</a> &#8260; 
    <p class="text-[#23562A] hover:underline">Chi tiết đơn hàng</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden pb-[50px]">

    <div class="flex flex-col relative shrink-0 visible pt-[30px] pl-[50px] mr-[50px]">
        <div>
            <p class="text-[15pt] font-bold font-custom text-[#23562A]">
                XIN CHÀO QUÝ KHÁCH
                <br>
            </p>
            <p class="text-[13pt] text-black collection__item mt-4 text-normal">Phạm Nguyễn Thanh Mai</p>
            <hr class="w-[250px] desktop:hidden mt-3">
        </div>
        <div>
            <p class="text-[15pt] font-bold font-custom text-[#23562A] collection__item mt-4 hover:bg-[#E7F4E5] w-[250px]">TÀI KHOẢN</p>
            <p class="text-[13pt] text-black collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[250px]">Thông tin tài khoản</p>
            <p class="text-[13pt] text-black collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[250px]">Lịch sử mua hàng</p>
            <p class="text-[13pt] text-black collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[250px]">Danh sách địa chỉ</p>
            <p class="text-[13pt] text-red-600 collection__item mt-4 text-normal hover:bg-[#E7F4E5] w-[250px]">Đăng xuất</p>
            <hr class="w-[250px] desktop:hidden mt-3">
        </div> 
        
    </div>
    <div>
    </div>
      