<div class="font-noto-sans text-[18px] px-8">
    <div class="px-10">
    <h2 class="font-noto-sans font-medium text-[24px] text-[#23562A]">{{name}}</h2>
    <p class="font-noto-sans italic text-[15px] text-[#23562A]">{{city}}</p>
    <div class="flex inline-flex">
        <img *ngFor="let star of [].constructor(stars)" src="assets/image_aboutus/Star 1.png" alt="star" class="w-8 h-8">
    </div>
    <p class="text-[#9A9898] font-noto-sans font-medium text-[15px]">{{date}}</p>
    <p>{{content}}</p>
</div>
    <hr style="background-color:#23562A; color:#23562A; height:2px; width:95%">
</div>
