<div>
    <div class="py-[30px] mx-[50px] overflow-hidden" >
            <p id="profile" class="text-[15pt] font-bold font-custom text-[#23562A] text-center">CHI TIẾT ĐƠN HÀNG</p>

        <div class=" mt-[20px] py-[10px] px-[10px] bg-[#e7f4e5] h-[fit] text-[13pt] relative items-center">
            <table cellpadding="10" >
                <tr class="font-bold text-[#23562A]">  
                <td width="300px" >Đơn hàng:</td>
                  <td width="750px">
                    <!-- {{ customer.name }} --> DNXJFN123
                  </td>
                </tr>
                <tr  class="pt-[20px]">
                  <td class="text-[#9A9898]">Ngày đặt hàng:</td>
                  <td >
                    <!-- {{ customer.email }} --> 26/11/2023
                    </td>
                </tr>
                <tr  class="pt-[20px]" >
                  <td class="text-[#9A9898]">Thời gian:</td>
                  <td >
                    <!-- {{ customer.font }} --> 11:20 AM
                  </td>
                </tr>
                <tr  class="pt-[20px]"> 
                  <td class="text-[#9A9898]">Tình trạng đơn hàng:</td>
                  <td >
                    <!-- {{ customer.address }} -->Đang xử lý
                  </td>
                </tr>
                <tr class="pt-[20px]" class="font-bold text-[#23562A]">
                   <td width="200px" >Địa chỉ người nhận:</td>
                  <td width="750px">
                    <!-- {{ customer.name }} --> &nbsp;
                  </td>
                </tr>
                <tr  class="pt-[20px]">
                  <td class="text-[#9A9898]">Họ và tên:</td>
                  <td >
                    <!-- {{ customer.email }} --> Phạm Nguyễn Thanh Mai
                    </td>
                </tr>
                <tr class="pt-[20px]">
                  <td class="text-[#9A9898]">Địa chỉ:</td>
                  <td >
                    <!-- {{ customer.font }} --> KTX Khu B, ĐHQG TP HCM
                  </td>
                </tr>
                <tr class="pt-[20px]">
                  <td class="text-[#9A9898]">Số điện thoại:</td>
                  <td >
                    <!-- {{ customer.address }} -->0966544961
                  </td>
                </tr>
            </table>
  </div>
</div>

<div>
    <div class="overflow-hidden mx-[50px] mt-[50px]">
        <table class="w-[100%]" cellpadding="10" >
          <thead class="bg-[#23562A] text-white py-[15px]">
              <tr>
                  <th class="text-centern py-[15px] w-[140px]">Ảnh</th>
                  <th class="text-center py-[15px]">Sản phẩm</th>
                  <th class="text-center py-[15px]">Đơn giá</th>
                  <th class="text-center py-[15px]">Số lượng</th>
                  <th class="text-center py-[15px]">Thành tiền</th>
              </tr>
          </thead>
          <tbody class="bg-[#FEFFF8]">
              
              <tr class="border-b border-[#9A9898]">
                  <td class="justify-center items-center py-[10px] ">
                    <div class="justify-center">
                        <img src="../../assets/BIDOHOLO.png" width="120px" height="120px"> 
                    </div>
                    
                  </td>
                  <td class="text-center py-[10px]">658308c9535282764446791e</td>
                  <td class="text-center py-[10px]" >Hạt giống rau muống INDOFA</td>
                  <td class="text-center py-[10px]">2</td>
                  <td class="text-center py-[10px]">84,000 ₫</td>
                   
              </tr>

              <tr class="border-b border-[#9A9898]">
                <td colspan="4" class="font-bold text-right">
                    Giá sản phẩm: 
                </td>
                <td class="text-center">
                    84,000 ₫
                </td>
              </tr>

              <tr class="border-b border-[#9A9898]">
                <td colspan="4" class="font-bold text-right">
                    Giao hàng tận nơi:
                </td>
                <td  class="text-center">
                    20,000 đ
                </td>
              </tr>

              <tr>
                <td colspan="4" class="font-bold text-right">
                    Tổng tiền:
                </td>
                <td class="text-center">
                    104,000 đ
                </td>
              </tr>
          </tbody>
      </table>
      </div>  
</div>