<div
    style="background-color: #E7F4E5; width: 90%;height:130px; margin-left: 50%;transform: translateX(-50%); margin-top: 30px;">
    <div style="display:flex; align-items: center;">
        <img src="assets/Payment/location.png"
            style="padding-left: 10px; padding-top: 10px; display: inline-block; display:flex; width: 30px" />
        <p
            style="display:flex; display: inline-block; font-family: Noto Sans; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; color: #23562A; padding-left: 10px; padding-top: 10px;">
            Địa chỉ giao hàng</p>
    </div>
    <hr
        style="height:2px;border-width:0;color:#23562A;background-color:#23562A; width: 20%;  margin-top: 0.5em; margin-left: 0.5em;">
    <div class="flex justify-between">
        <div>
            <p
                style="font-family: Noto Sans; font-style: normal; font-size: 14px; line-height: 19px; padding-left: 10px; padding-top: 10px;">
                {{ defaultAddress.name }} &#10072; {{ defaultAddress.phone }}</p>
            <p
                style="font-family: Noto Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 19px; padding-left: 10px; padding-top: 10px;">
                {{ defaultAddress.full_address() }}</p>
        </div>
        <div style="margin-right:50px">
            <a [routerLink]="'/changeaddress'" style="text-decoration: none; color: #23562A;"><img
                    src="assets/Payment/changeaddress.png" style="width: 50px;" /></a>
        </div>
    </div>
</div>
