<div class="overflow-hidden text-center circle-container circle img circle">
  <img src={{img_url}} alt="Descriptive text" class="object-cover rounded-full" />
</div>

  <p class="font-medium text-lg text-center font-noto-sans text-black">{{ name }}</p>
  <div class="flex justify-center">
  <div class="flex justify-between  w-[70%] text-center">
    <a [href]="fb"><img src="assets/facebook.png"></a>
    <a [href]="ins"><img src="assets/instagram.png"></a>
    <a [href]="lin"><img src="assets/linkedin.png"></a>
  </div>
</div>