<!-- LEFT MENU OF TERMS POLICY -->
<div class="w-[250px] visible pt-[50px] pl-[50px] mr-[50px]">
  <div class="text-[13pt]">
    <a routerLink="/dashboard" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2">Tổng quan</dd>
    </a>
    <a routerLink="/product-list" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2">Sản phẩm</dd>
    </a>
    <a routerLink="/product-list" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2">Khách hàng</dd>
    </a>
    <a routerLink="/order-list" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2">Đơn hàng</dd>
    </a>
    <a routerLink="/coupon" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2">Khuyến mãi</dd>
    </a>
    <a routerLink="/blog-list" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2">Blog</dd>
    </a>
    <a (click)="logOut()" class="overflow-hidden whitespace-nowrap">
      <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[180px] py-2 text-[#FB6565]">Đăng xuất</dd>
    </a>
  </div>
</div>
