<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
  <a routerLink="" class="hover:underline">Trang chủ</a> &#8260;
  <a routerLink="/termspolicy" class="hover:underline">Điều khoản & Chính sách</a> &#8260;
  <p class="text-[#23562A] hover:underline">Chính sách bán hàng & đổi trả</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
  <div class="pt-0">

  </div>
  <div>
      <br>
      <div class="font-sans text-[15px]">
          <p class="text-[28pt] text-[#23562A] font-bold text-center font-custom">Chính sách bán hàng & đổi trả</p>
          <br>
          <div class="text-justify text-[14pt] px-[50px]">
              <div class="items-center text-center italic">
                  <img src="./assets/images/banhang.png" class="mx-auto h-[300px] w-auto">
              </div>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  1. Điều kiện đổi trả
              </p>
              <p>Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng ngay tại thời điểm giao/nhận hàng trong những trường hợp sau:</p>
              <ul class="list-disc pl-[50px]">
                  <li>Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại thời điểm đặt hàng.</li>
                  <li>Không đủ số lượng, không đủ loại sản phẩm như trong đơn hàng.</li>
                  <li>Tình trạng sản phẩm bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…</li>
              </ul>
              <p>Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng hóa.</p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  2. Thời gian thông báo và gửi sản phẩm đổi trả
              </p>
              <ul class="list-disc pl-[50px]">
                  <li>Thời gian thông báo đổi trả: trong vòng 48h kể từ khi nhận sản phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bể vỡ.</li>
                  <li>Thời gian gửi chuyển trả sản phẩm: trong vòng 14 ngày kể từ khi nhận sản phẩm.</li>
                  <li>Địa điểm đổi trả sản phẩm: Khách hàng có thể mang hàng trực tiếp đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.</li>
              </ul>
              <p>
                  Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi.
              </p>
          </div>
          <br>
      </div>
  </div>
</div>


