<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
  <a routerLink="" class="hover:underline">Trang chủ</a> &#8260;
  <a routerLink="/termspolicy" class="hover:underline">Điều khoản & Chính sách</a> &#8260;
  <p class="text-[#23562A] hover:underline">Chính sách bảo mật</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
  <div class="pt-0">
      <app-termspolicy-left-menu></app-termspolicy-left-menu>
  </div>
  <div>
      <br>
      <div class="font-sans text-[15px]">
          <p class="text-[28pt] text-[#23562A] font-bold text-center font-custom">Chính sách bảo mật</p>
          <br>
          <div class="text-justify text-[14pt] px-[50px]">
              <div class="items-center text-center italic">
                  <img src="./assets/images/baomat.png" class="mx-auto h-[300px] w-auto">
              </div>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom mt-[50px]">
                  1. Thu thập thông tin cá nhân:
              </p>
              <p>
                  Indofa cam kết chỉ thu thập thông tin cá nhân cần thiết để cung cấp dịch vụ và sản phẩm. Mục đích chi tiết sẽ được mô tả trước để người dùng có thể hiểu rõ tại sao thông tin của họ được yêu cầu. Trước khi thu thập thông tin cá nhân, chúng tôi sẽ yêu cầu sự đồng ý rõ ràng từ phía người dùng và chỉ sử dụng thông tin theo cách mà họ đã đồng ý.
              </p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  2. Sử dụng thông tin cá nhân:
              </p>
              <p>
                  Thông tin cá nhân của khách hàng sẽ chỉ được sử dụng cho mục đích đã được thông báo, bao gồm quản lý đơn hàng, cung cấp dịch vụ chăm sóc khách hàng và thông báo về các ưu đãi đặc biệt. Chúng tôi cam kết không chia sẻ thông tin cá nhân của khách hàng với bất kỳ bên thứ ba nào mà không có sự đồng ý của họ.
              </p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  3. Bảo mật thông tin:
              </p>
              <p>
                  Indofa sử dụng công nghệ mã hóa để bảo vệ thông tin cá nhân khi truyền tải giữa máy khách và máy chủ, đảm bảo rằng thông tin không thể bị đánh cắp hoặc thay đổi. Hệ thống an ninh mạng và tường lửa được triển khai để ngăn chặn truy cập trái phép và bảo vệ thông tin cá nhân khỏi mọi rủi ro.
              </p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  4. Quản lý tài khoản:
              </p>
              <p>
                  Khách hàng được khuyến khích sử dụng mật khẩu mạnh và đổi mật khẩu định kỳ để bảo vệ thông tin tài khoản cá nhân. Chúng tôi sử dụng cookie chỉ để cải thiện trải nghiệm của người dùng và cam kết không sử dụng cookie để theo dõi hoạt động trực tuyến cá nhân.
              </p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  5. Cập nhật chính sách bảo mật:
              </p>
              <p>
                  Bất kỳ thay đổi nào trong chính sách bảo mật sẽ được thông báo rõ ràng trên trang web và người dùng sẽ được thông báo về những thay đổi này. Chúng tôi cam kết duy trì và cải thiện liên tục chính sách bảo mật để đảm bảo rằng thông tin cá nhân của khách hàng được bảo vệ tốt nhất.
              </p>
          </div>
          <br>
      </div>
  </div>
</div>
