<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
  <a routerLink="" class="hover:underline">Trang chủ</a> &#8260;
  <a routerLink="/termspolicy" class="hover:underline">Điều khoản & Chính sách</a> &#8260;
  <p class="text-[#23562A] hover:underline">Chính sách vận chuyển</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
  <div class="pt-0">
      <app-termspolicy-left-menu></app-termspolicy-left-menu>
  </div>
  <div>
      <br>
      <div class="font-sans text-[15px]">
          <p class="text-[28pt] text-[#23562A] font-bold text-center font-custom">Chính sách vận chuyển</p>
          <br>
          <div class="text-justify text-[14pt] px-[50px]">
              <div class="items-center text-center italic">
                  <img src="./assets/images/vanchuyen.png" class="mx-auto h-[300px] w-auto">
              </div>
              <p class="mt-[50px]">
                  Chính sách Giao hàng và vận chuyển của INDOFA được thiết kế nhằm mang lại trải nghiệm thuận lợi và hài lòng nhất cho khách hàng. Dưới đây là các thông tin chi tiết của chính sách này:
              </p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  1. Phạm vi Giao hàng:
              </p>
              <p>
                  INDOFA cung cấp dịch vụ giao hàng trên toàn quốc, bao gồm cả các khu vực ngoại thành, ngoại tỉnh, đảo... Tuy nhiên, đối với những khu vực xa trung tâm thành phố, thời gian giao hàng có thể mất thêm thời gian. Quý khách hàng có thể liên hệ trực tiếp với chúng tôi để biết thêm thông tin chi tiết về thời gian giao hàng trong trường hợp cụ thể.
              </p>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  2. Phí vận chuyển:
              </p>
              <ul class="list-disc pl-[50px]">
                  <li>Đơn hàng dưới 500.000đ: Phí ship là 30.000đ.</li>
                  <li>Đơn hàng từ 500.000đ trở lên: MIỄN PHÍ vận chuyển toàn quốc.</li>
              </ul>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  3. Thời gian giao hàng:
              </p>
              <ul class="list-disc pl-[50px]">
                  <li>Thời gian xử lý đơn hàng: 1-2 ngày làm việc (không bao gồm Thứ 7, Chủ nhật và ngày Lễ).</li>
                  <li>Thời gian vận chuyển:</li>
                  <ul class="list-disc pl-[50px]">
                      <li>Nội thành Hà Nội và TP.HCM: 1-2 ngày làm việc.</li>
                      <li>Các tỉnh, thành phố khác: 3-5 ngày làm việc.</li>
                      <li>Đối với các vùng sâu, vùng xa, hải đảo: Thời gian có thể lâu hơn tùy thuộc vào địa điểm cụ thể. Quý khách hàng nên liên hệ trực tiếp với chúng tôi để nhận được sự tư vấn chi tiết hơn.</li>
                  </ul>
              </ul>
              <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                  4. Cam kết của INDOFA:
              </p>
              <p>
                  INDOFA cam kết cung cấp dịch vụ giao hàng chính xác và nhanh chóng nhất cho khách hàng. Trong trường hợp có bất kỳ lý do nào không thể kiểm soát được như thiên tai, sự cố, chúng tôi sẽ thông báo ngay lập tức đến quý khách hàng về bất kỳ sự chậm trễ nào so với thời gian dự kiến.
              </p>
              <p>
                  Chúng tôi trân trọng sự tin tưởng và ủng hộ của quý khách hàng đối với INDOFA. Nếu có bất kỳ thắc mắc hoặc yêu cầu nào khác, quý khách vui lòng liên hệ với chúng tôi để được hỗ trợ tốt nhất. Cảm ơn quý khách hàng đã lựa chọn và đồng hành cùng INDOFA!
              </p>
          </div>
          <br>
      </div>
  </div>
</div>

