<div class="bg-[#e7f4e5] w-full h-8 pl-[30px] flex items-center text-black text-[14pt] font-noto-sans gap-x-2">
  <a routerLink="" class="no-underline text-[#000000]">TRANG CHỦ</a> &#8260;
  <a routerLink="/cart" class="no-underline text-[#23562A] hover:underline font-noto-sans">GIỎ HÀNG CỦA BẠN</a>
</div>
<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <div class="pointer-events-auto w-screen max-w-md">
          <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
            <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
              <div class="flex items-start justify-between">
                <h2 class="text-[30px] font-bd-lifeless-grotesk text-[#23562A] font-bold" id="slide-over-title">GIỎ HÀNG
                  CỦA BẠN</h2>
                <div class="ml-3 flex h-7 items-center">
                  <button (click)="closeModal()" type="button" class="relative -m-2 p-2 text-gray-400 hover:text-[#23562A]">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                      aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="mt-8">
                <div class="flow-root">
                  <ul role="list" *ngFor="let p of cart.products" class="-my-6 divide-y divide-gray-200">
                    <li class="flex py-6">
                      <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                        <img src="{{p.imgbase64_reduce}}"
                          alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                          class="h-full w-full object-cover object-center">
                      </div>

                      <div class="ml-4 flex flex-1 flex-col">
                        <div>
                          <div class="flex justify-between text-base font-medium text-gray-900">
                            <h3>
                              <a href="#">{{p.name}}</a>
                            </h3>
                            <p class="ml-4">{{ p.price }}</p>
                          </div>
                        </div>
                        <div class="flex flex-1 items-end justify-between text-sm">
                          <div>
                            <button type="button" (click)="decreaseQuantity(p.productID)" class="btnSub">-</button>
                            <input [(ngModel)]="p.quantity"  class="py-1 w-10 text-center"
                              value="{{p.quantity}}" min=0>
                            <button type="button" (click)="increaseQuantity(p.productID)" class="btnAdd">+</button>
                          </div>
                          <button type="button" class="font-medium text-[#AD0505] hover:text-[#FF0000]">Xóa</button>
                        </div>
                      </div>
                    </li>
                    <!-- More products... -->
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
              <div class="flex justify-between text-base font-medium text-gray-900">
                <p>Tổng cộng</p>
                <p>{{ stringPrice }} VNĐ</p>
              </div>
              <p class="mt-0.5 text-sm text-gray-500">Phí vận chuyển sẽ được tính tại trang thành toán.</p>
              <div class="mt-6">
                <a (click)="goToPayment()"
                  class="flex hover:cursor-pointer  items-center justify-center rounded-md border border-transparent bg-[#23562A] px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-[#3B9647]">THANH
                  TOÁN</a>
              </div>
              <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                <p>
                  or
                  <button type="button" class="font-medium text-[#23562A] hover:text-[#3B9647]">
                    Tiếp tục mua sắm
                    <span aria-hidden="true"> &rarr;</span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
