
.table {
    width: 100%;
    border-collapse: collapse;
  }
  .table th, .table td {
    padding: 10px;
    text-align: center;
    
  }
  .table th:first-child, .table td:first-child {
    width: auto;
  }
  .table th:nth-child(2), .table td:nth-child(2) {
    width: 20%;
  }
  .table th:nth-child(3), .table td:nth-child(3) {
    width: 10%;
  }
  .table th:nth-child(4), .table td:nth-child(4) {
    width: 10%;
  }
  .table th:last-child, .table td:last-child {
    width: 5%;
  }