<!-- BLOG CONTENT PAGE -->
<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <a routerLink="/blogs" class="hover:underline">Blog</a> &#8260;
    <a routerLink="/blogcategory/{{type}}" class="hover:underline">Mùa nào cây nấy</a> &#8260; 
    <a routerLink="/blogcategory/{{blog.blogID}}" class="text-[#23562A] hover:underline">{{blog.title}}</a> 
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
    <div class="pt-0">
        <app-leftmenu></app-leftmenu>
    </div>
    <div>
        <br>
        <div class="font-sans text-[15px]">
            <p class="text-[28pt] text-[#23562A] font-bold text-center font-custom">{{blog.title}}</p>
            <br>
            <div class="text-justify text-[14pt] px-[50px]">
                <p>
                    {{blog.abstract}}
                </p>
                <div *ngFor="let content of blog.content">
                    <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                        {{content.contentTitle}}
                    </p>
                    <p>{{content.contentBody}}</p>
                    <div class="items-center text-center italic">
                        <img src="{{content.base64Img}}" class="mx-auto">
                    </div>
                </div>
                <br>
                <hr style="border:1px solid #23562A;">
 
                    <p class="mt-3">
                        Bạn có thể tìm mua sản phẩm tại các địa chỉ liên hệ sau:
                    </p>
                
                    <ul>
                        <li><b>Email: </b>indofa1804&#64;gmail.com</li>
                        <li><b>SĐT: </b>0582696460</li>
                        <li><b>LinkedIn: </b><a href="https://www.linkedin.com/in/indoor-farm/">https://www.linkedin.com/in/indoor-farm/</a></li>
                        <li><b>Youtube: </b><a href="https://www.youtube.com/@IndoorFarm1804">https://www.youtube.com/&#64;IndoorFarm1804</a></li>
                    </ul>

            </div>
            <br>
        </div>
        <div>
            <app-bottommenublog></app-bottommenublog>
        </div>
    </div>
</div>