<!-- BLOG CONTENT PAGE -->
<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <a routerLink="/blogs" class="hover:underline">Blog</a> &#8260;
    <a routerLink="/blogcategory" class="hover:underline">Mùa nào cây nấy</a> &#8260; 
    <p class="text-[#23562A] hover:underline">Mùa xuân nở rộ</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
    <div class="pt-0">
        <app-leftmenu></app-leftmenu>
    </div>
    <div>
        <br>
        <div class="font-sans text-[15px]">
            <p class="text-[28pt] text-[#23562A] font-bold text-center font-custom">MÙA XUÂN NỞ RỘ</p>
            <br>
            <div class="text-justify text-[14pt] px-[50px]">
                <p>
                    Mùa xuân là thời điểm lý tưởng để thêm một chút sức sống vào ngôi nhà của bạn bằng cách trồng cây cảnh trong nhà. Không chỉ làm cho không gian trở nên xanh tươi và tươi mát, mà cây trồng trong nhà còn mang lại nhiều lợi ích cho sức khỏe và tâm hồn của bạn. Dưới đây là một số loại cây thích hợp để trồng trong nhà vào mùa xuân và những điều bạn có thể thu hoạch từ chúng.
                </p>
                <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                    CÂY LƯỠI HỔ
                </p>
                <p>Cây Lưỡi Hổ (Sansevieria): Cây lưỡi hổ, còn được gọi làcây ngọc ngân, là một loại cây cảnh thường được trồng trong nhà do sự dễ dàng chăm sóc. Cây này có khả năng lọc không khí và giảm độc tố, giúp không gian trở nên trong lành hơn. Trong mùa xuân, bạn có thể mong chờ cây lưỡi hổ ra hoa, tạo ra một phần thú vị trong không gian sống của bạn.</p>
                <div class="items-center text-center italic">
                    <img src="../../assets/img/Rectangle 122.png" class="mx-auto">
                    <p>Ảnh: Cây lưỡi hổ (Nguồn: Sưu tầm)</p>
                </div>
                <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                    CÂY PHÁT TÀI
                </p>
                <p>
                    Cây Phát Tài (Zamioculcas zamiifolia): Cây phát tài không chỉ là một biểu tượng của tài lộc mà còn là một loại cây cảnh dễ chăm sóc. Mùa xuân, cây phát tài thường phát triển mạnh mẽ và tạo ra lá xanh rất đẹp. Điều này tạo ra một mảng xanh tươi mới trong không gian sống của bạn, mang lại niềm vui và lợi ích thẩm mỹ.
                </p>
                <div class="items-center text-center italic">
                    <img src="../../assets/img/Rectangle 127.png" class="mx-auto">
                    <p>Ảnh: Cây phát tài (Nguồn: Sưu tầm)</p>
                </div>
        
                <p class="text-[#23562A] font-bold leading-[50px] font-custom">
                    THU HOẠCH VÀ NIỀM VUI
                </p>
                <p>
                    Thu hoạch từ việc trồng cây trong nhà vào mùa xuân không chỉ là vẻ đẹp và sự sống mạnh của cây, mà còn là không khí trong lành và tạo cảm giác bình yên cho không gian sống của bạn. Hãy để cây cỏ làm món quà thú vị cho mùa xuân này, mang lại niềm vui và lợi ích thẩm mỹ cho ngôi nhà của bạn.
                </p>
                <br>
                <hr style="border:1px solid #23562A;">
 
                    <p class="mt-3">
                        Bạn có thể tìm mua sản phẩm tại các địa chỉ liên hệ sau:
                    </p>
                
                    <ul>
                        <li><b>Email: </b>indofa1804@gmail.com</li>
                        <li><b>SĐT: </b>0582696460</li>
                        <li><b>LinkedIn: </b><a href="https://www.linkedin.com/in/indoor-farm/">https://www.linkedin.com/in/indoor-farm/</a></li>
                        <li><b>Youtube: </b><a href="https://www.youtube.com/@IndoorFarm1804">https://www.youtube.com/@IndoorFarm1804</a></li>
                    </ul>

            </div>
            <br>
        </div>
        <div>
            <app-bottommenublog></app-bottommenublog>
        </div>
    </div>
</div>