.product-category-container {
  margin: 0px 60px;
}

.product-category-container .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-category-container .grid-product-container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
}

.blog-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
