<html>
    <head>
        <link rel="stylesheet" href="../footer/footer.component.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                    <p>Sản phẩm</p>
                        <ul>
                            <li><a href="#">Hạt giống</a></li>
                            <li><a href="#">Dụng cụ</a></li>
                            <li><a href="#">Đất / Giá thể trồng</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                    <p>Công ty</p>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Chính sách & Điều khoản</a></li>
                        </ul>
                    </div>  
                    <div class="footer-col">
                    <p>Hỗ trợ</p>
                        <ul>
                            <li><a href="#" routerLink="/blogs">Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <a href="#">
                            <img class="logo" src="./assets/images/logo_footer.png">
                        </a>
                    </div>
                </div>
                <hr/>
                <h1>INDOFA - INDOOR FARM</h1>
                <div class="info">
                    <ul>
                        <li>
                            <img src="./assets/images/address.png" style="width: 20px; height: auto;">
                            Địa chỉ: 669 QL1A, khu phố 3, Thành phố Thủ Đức, TPHCM
                        </li>
                        <li>
                            <img src="./assets/images/mail.png" style="width: 25px; height: auto;">
                            Email: indofa1804@gmail.com
                        </li>
                        <li>
                            <img src="./assets/images/phone.png" style="width: 25px; height: auto;">
                            SĐT: 0582696460
                        </li>
                    </ul>
                    <div class="connect">
                        <p>Kết nối với chúng tôi <br/>
                        <img src="./assets/images/facebook.png">
                        <img src="./assets/images/linkedin.png">
                        <img src="./assets/images/tiktok.png">
                        <img src="./assets/images/instagram.png">
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>