<footer class="w-full bg-[#23562A] text-[#FEFFF8] p-[42px] leading-normal box-border">
  <div class="w-full m-auto flex flex-wrap">
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-0 mb-8">
      <p class="text-[25px] mb-[16px] text-[#FEFFF8] not-italic font-medium leading-normal">
        Sản phẩm
      </p>
      <ul>
        <li><a href="#">Hạt giống</a></li>
        <li><a href="#">Dụng cụ</a></li>
        <li><a href="#">Đất / Giá thể trồng</a></li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-0 mb-8">
      <p class="text-[25px] mb-[16px] text-[#FEFFF8] not-italic font-medium leading-normal">
        Công ty
      </p>
      <ul>
        <li><a href="#">Về chúng tôi</a></li>
        <li><a href="#">Chính sách & Điều khoản</a></li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-0 mb-8">
      <p class="text-[25px] mb-[16px] text-[#FEFFF8] not-italic font-medium leading-normal">
        Hỗ trợ
      </p>
      <ul>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-0 mb-8">
      <a href="#">
        <img class="w-[200px] h-auto shrink-0" src="./assets/logo_footer.png" alt="Logo">
      </a>
    </div>
  </div>
  <hr class="w-full mt-[62px] mb-[24px] border-[1px] border-[#3B7D42]" />
  <h1 class="font-medium text-[30px] mb-[19px]">INDOFA - INDOOR FARM</h1>
  <div class="w-full">
    <ul>
      <li class="mt-[10px] mb-[5px] flex items-center">
        <img src="./assets/address.png" style="width: 20px; height: auto;" alt="Address icon">
        <span class="ml-[10px]">Địa chỉ: 669 QL1A, khu phố 3, Thành phố Thủ Đức, TPHCM</span>
      </li>
      <li class="mt-[10px] mb-[5px] flex items-center">
        <img src="./assets/mail.png" style="width: 25px; height: auto;" alt="Email icon">
        <span class="ml-[10px]">Email: indofa1804&#64;gmail.com</span>
      </li>
      <li class="mt-[10px] mb-[5px] flex items-center">
        <img src="./assets/phone.png" style="width: 25px; height: auto;" alt="Phone icon">
        <span class="ml-[10px]">SĐT: 0582696460</span>
      </li>
    </ul>
    <div class="text-right">
      <p class="mt-4">Kết nối với chúng tôi <br />
        <img src="./assets/facebook.png" class="w-[40px] h-auto ml-[10px]" alt="Facebook icon">
        <img src="./assets/linkedin.png" class="w-[40px] h-auto ml-[10px]" alt="LinkedIn icon">
        <img src="./assets/tiktok.png" class="w-[40px] h-auto ml-[10px]" alt="TikTok icon">
        <img src="./assets/instagram.png" class="w-[40px] h-auto ml-[10px]" alt="Instagram icon">
      </p>
    </div>
  </div>
</footer>
