<footer class="w-full bg-[#23562A] text-[#FEFFF8] p-[42px] leading-normal box-border">
  <div class="w-full m-auto">
    <div class="flex flex-wrap">
      <div class="w-1/4 p-0">
        <p class="text-[25px] mb-[16px] text-[#FEFFF8] not-italic font-medium leading-normal font-custom">
          Sản phẩm
        </p>
        <ul>
          <li><a routerLink="/prodtotal/rau,hoa,cuqua">Hạt giống</a></li>
          <li><a routerLink="/prodtotal/gom,nhua,treo,dungcu">Dụng cụ</a></li>
          <li><a routerLink="/prodtotal/dat">Đất / Giá thể trồng</a></li>
        </ul>
      </div>
      <div class="w-1/4 p-0">
        <p class="text-[25px] mb-[16px] text-[#FEFFF8] not-italic font-medium leading-normal font-custom">
          Công ty
        </p>
        <ul>
          <li><a routerLink="/aboutusreal">Giới thiệu</a></li>
          <li><a routerLink="/termspolicy_sales">Chính sách bán hàng & Đổi trả</a></li>
          <li><a routerLink="/termspolicy_shipping">Chính sách vận chuyển</a></li>
          <li><a routerLink="/termspolicy_security">Chính sách bảo mật</a></li>
        </ul>
      </div>
      <div class="w-1/4 p-0">
        <p class="text-[25px] mb-[16px] text-[#FEFFF8] not-italic font-medium leading-normal font-custom">
          Hỗ trợ
        </p>
        <ul>
          <li><a href="/blogs">Blog</a></li>
        </ul>
      </div>
      <div class="w-1/4 p-0">
        <a href="#">
          <img class="w-[200px] h-auto shrink-0" src="./assets/images/logo_footer.png">
        </a>
      </div>
    </div>
    <hr class="w-full mt-[62px] mr-[42px] mb-[24px] ml-0" />
    <h1 class="font-medium text-[30px] mb-[19px] font-custom">INDOFA - INDOOR FARM</h1>
    <div class="w-full flex justify-between">
      <ul class="">
        <li class="mt-[10px] mb-[5px]">
          <img class="inline-block" src="./assets/images/address.png" style="width: 25px; height: auto;">
          <p class="ml-[10px]  inline-block leading-8">Địa chỉ: 669 QL1A, khu phố 3, Thành phố Thủ Đức, TPHCM</p>
        </li>
        <li class="mt-[10px] mb-[5px]">
          <img class="inline-block" src="./assets/images/mail.png" style="width: 25px; height: auto;">
          <p class="ml-[10px]  inline-block  leading-8">Email: indofa1804&#64;gmail.com</p>
        </li>
        <li class="mt-[10px] mb-[5px]">
          <img class="inline-block leading-8" src="./assets/images/phone.png" style="width: 25px; height: auto;">
          <p class="ml-[10px]  inline-block">SĐT: 0582696460</p>
        </li>
      </ul>
      <div class="text-right">
        <p class="font-custom">Kết nối với chúng tôi</p>
        <br />
        <div class="flex justify-end">
          <a href="https://www.facebook.com/profile.php?id=100092286823167&locale=vi_VN">
            <img src="./assets/images/facebook.png" class="w-[40px] h-auto ml-[10px]">
          </a>
          <a href="https://www.linkedin.com/in/indoor-farm/">
            <img src="./assets/images/linkedin.png" class="w-[40px] h-auto ml-[10px]">
          </a>
          <a href="https://www.tiktok.com/@indofa1804?is_from_webapp=1&sender_device=pc">
            <img src="./assets/images/tiktok.png" class="w-[40px] h-auto ml-[10px]">
          </a>
          <a>
            <img src="./assets/images/instagram.png" class="w-[40px] h-auto ml-[10px]">
          </a>
        </div>

      </div>
    </div>
  </div>
</footer>
