
<table style="width: 100%"> 
    <tr>
      <td>
        <app-header></app-header>
      </td>
    </tr>
    <tr>
      <td>
        <router-outlet></router-outlet>
        <!-- <app-blogs></app-blogs> -->
      </td>
    </tr>
    <!-- <tr>
      <td>
        <app-footer></app-footer>
      </td>
    </tr> -->
  </table>


<!-- <app-blogs></app-blogs> -->
<!-- <app-blog-small></app-blog-small> -->
<!-- <app-about-us-review></app-about-us-review> -->
<!-- <app-blogcategory></app-blogcategory> -->

<!-- <app-blog></app-blog> -->
<!-- <app-product-category-container></app-product-category-container> -->
<!-- <app-product-main></app-product-main> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-home-page></app-home-page> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-blog-main></app-blog-main> -->

