<!-- PRODUCT TOTAL PAGE -->
<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <a routerLink="/prodtotal" class="hover:underline">Dòng sản phẩm</a> &#8260;
    <a routerLink="/prodtotal" class="hover:underline">Loại sản phẩm</a> &#8260;
    <p class="text-[#23562A] hover:underline">Sản phẩm</p>
</div>

<div class="grid grid-cols-2 mt-[50px] mb-[50px] h-[505px] w-full">
    <img src="../../assets/images/anhsp.png" alt="Ảnh sản phẩm" class=" w-[full] h-[505px] ml-[150px] justify-center">
    <div>
        <div class="grid gap-2 items-start">
            <!-- Product Name -->
            <div class="">
                <h1 class="text-[24pt] font-semibold text-[#23562A] mb-4" itemprop="name">Hạt giống rau muống INDOFA
                    <span class="text-[16pt] block mt-1 mb-4 text-[#9A9898] " itemprop="alternateName">10.000 VNĐ</span>
                </h1>
            </div>
            <!-- Quantity area -->
                
            <div class="flex items-center bg-[#FEFFF8] text-justify text-[#23562A] text-[14pt] w-[110px] h-[30px]">
                <button type="button" id="sub" class="border-l border-t border-b border-[#9A9898]  px-5 py-1 hover:bg-[#e7f4e5] focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-l-full">-</button>
            
                <input class="count border-t border-b border-[#9A9898] bg bg-[#FEFFF8] py-1 w-10 text-center" type="text" readonly="" id="quantity-1" value="1" min="1" aria-label="Quantity">
            
                <button type="button" id="add" class="border-r border-t border-b border-[#9A9898] px-5 py-1 hover:bg-[#e7f4e5] focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-r-full">+</button>
            </div> 

            <hr class="w-[full] desktop:hidden mt-[20px] mr-[50px]">

            <!-- Prod description -->
            <div class="text-[14pt] text-black pt-[20px]">
                <p class="font-bold">Thông tin sản phẩm</p>
                <ul class="ml-[21px] pt-[15px] list-disc">
                    <li class="ml-[30px]">Số hạt/gói: 20g ~ 5000 hạt</li>
                    <li class="ml-[30px]">Tỷ lệ nảy mầm: &gt;80%</li>
                    <li class="ml-[30px]">Mùa Vụ: Quanh năm, chính vụ Thu Đông Xuân</li>
                    <li class="ml-[30px]">Nhiệt độ gieo: 13 - 33 độ</li>
                    <li class="ml-[30px]">Thời gian thu hoạch: 25-32 ngày sau gieo</li>
                </ul>
            </div>
 
            <div class="grid grid-cols-[1.5fr_1.5fr_1fr] gap-[20px] pt-[20px] text-[14pt] font-bold">
                <button type="button" id="sub" class="border-2 w-[full] h-[45px] px-5 border-[#23562A]  text-[#23562A] hover:cursor-pointer focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-full">
                    Thêm vào giỏ hàng
                </button>
                <button type="button" id="sub" class="border-2 w-[full] h-[45px] px-5 border-[#23562A] bg-[#23562A] text-white hover:cursor-pointer focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-full">
                    Mua ngay
                </button>
            </div>

        </div>
        
    </div>
</div>

<div class="grid grid-cols-[2fr_1fr] mt-[10px] bg-[#e7f4e5] h-[750px] mb-[50px]">
    <div class="text-[13pt] text-black pt-[20px] text-justify mx-[50px] items-center">

            <div class="font-bold mb-4 fon">MÔ TẢ SẢN PHẨM</div>
            
            <div class="mb-4">
              <p class="font-bold">1. CHUẨN BỊ TRỒNG:</p>
              <ul class="pl-[21px] pt-[11pt] list-disc">
                <li>Vật dụng trồng rau như: Khay, chậu nhựa, chậu sứ, thùng xốp, …</li>
                <li>Thuốc trừ nấm</li>
                <li>Đất sạch giàu dinh dưỡng, vỏ trấu hoặc xơ dừa đã hoai mục, phân gà, phân bò đã xử lý, phân hữu cơ, phân NPK... Thường trộn 7 phần đất với 3 phần là xơ dừa hoặc vỏ trấu hoai mục và phân gà đã xử lý hoặc phân hữu cơ để làm đất trồng.</li>
                <li>Dụng cụ tưới: Tưới nước, tưới phân</li>
              </ul>
            </div>
            
            <div class="mb-4">
              <p class="font-bold">2. TIẾN HÀNH GIEO HẠT</p>
              <ul class="pl-[21px] pt-[11pt] list-disc">
                <li>Đất trồng sau khi trộn đều, chúng ta cho vào chậu hoặc khay ươm.</li>
                <li>Phun thuốc trừ nấm lên mặt chất trồng (bước này khá quan trọng), tốt nhất phun liên tục 2-3 lần để thuốc thấm xuống sâu hơn.</li>
                <li>Ngâm hạt: được chia làm 2 loại chính</li>
              </ul>
            </div>
            
            <div>
              <p class="font-bold">3. CHĂM SÓC SAU GIEO HẠT:</p>
              <ul class="pl-[21px] pt-[13px] list-disc">
                <li>Độ ẩm của đất trồng: luôn đảm bảo độ ẩm cho đất, không được để đất bị khô hoặc quá ẩm. Nếu khô sẽ có thể làm chết mầm, ẩm quá sẽ làm thối mầm và là điều kiện phát triển của các loại nấm bệnh.</li>
                <li>Phân bón: khi cây có lá thật thì có thể tưới bằng phân bón lá, bón gốc có hàm lượng đạm cao nhưng pha loãng (loãng nhẹ để nhử cây, nếu quá cây sẽ xót rễ mà chết). Thông thường chỉ nên tưới phân bón lá bằng 1/3 hoặc 1/4 nồng độ trên bao bì hướng dẫn.</li>
                <li>Đối với các loại cây ăn lá ngắn ngày chỉ nên bón phân có hàm lượng hữu cơ cao và dừng bón phân trước thu hoạch khoảng 8-12 ngày để đảm bảo cây trồng phân giải nitrat.</li>
                <li>KHUYẾN CÁO: Cần đọc kỹ hướng dẫn trên bao bì, hoặc nhờ hỗ trợ tư vấn. Đặc biệt do tùy từng loại cây trồng, giai đoạn cây, tuổi cây… mà có lượng bón khác nhau nên người sử dụng cần bón 1 lượng thấp vừa phải theo cảm tính để theo dõi và tăng giảm lượng bón tùy vào tình hình thực tế của cây.</li>
              </ul>

          </div>
          
    </div>
    <img src="../../assets/images/anhmota.png" alt="Ảnh sản phẩm" class="h-[750px] w-[full]">
</div>

<!-- SẢN PHẨM TƯƠNG TƯ-->
<div class="w-full h-[480px] grid grid-cols-[1fr_10fr_1fr] gap-[10px] pb-0  text-[#23562a] mb-[50px]">

    <img class="ml-[50px] w-[45px] h-[39px] mt-[200px] hover:scale-110" src="../../assets/images/next-symbol-1.png" />

    <div class="grid grid-rows-[1fr_4fr_1fr] gap-0">
      <p class="text-[22pt] text-center font-custom  pb-[50px]">SẢN PHẨM TƯƠNG TỰ</p>
      
      <div class="grid grid-cols-4 gap-[50px]">
        <app-product-main></app-product-main>
        <app-product-main></app-product-main>
        <app-product-main></app-product-main>
        <app-product-main></app-product-main>    
      </div>

      <div class="grid justify-center mt-0">
        <button type="button" class="w-[165px] h-[45px] text-[12pt] font-bold border-2 px-5 border-[#23562A] text-[#23562A] hover:bg-[#e7f4e5] cursor-pointer focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-full">
            Xem thêm  &nbsp; &rightarrow;
        </button>
      </div>
    </div>
    
    <img class="w-[45px] h-[39px] hover:scale-110 mt-[200px]" src="../../assets/images/next-symbol-2.png"/>
</div>







