
  <!-- PRODUCT DETAIL PAGE -->
  <div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260;
    <a routerLink="/prodtotal/{{category}}" class="hover:underline">{{mapping[category]}}</a> &#8260;
    <a routerLink="/prodtotal/{{category}}/{{id}}" class="text-[#23562A] hover:underline">{{ product.productTitle }}</a> 
    
  </div>
<div *ngIf="product">
  <div class="grid grid-cols-2 mt-[50px] mb-[50px] h-[fit] w-full">
    <img src="{{ product.productImgReduce }}" alt="Ảnh sản phẩm" class="w-[full] h-[505px] ml-[150px] justify-center">

    <div class="grid gap-2 items-start">
      <!-- Product Name -->
      <div class="">
        <h1 class="text-[24pt] font-semibold text-[#23562A] mb-4" itemprop="name">{{ product.productTitle }}
          <span class="text-[16pt] block mt-1 mb-4 text-[#9A9898] " itemprop="alternateName">{{ product.productPrice }}</span>
        </h1>
      </div>
      <!-- Quantity area -->
      <div class="flex items-center bg-[#FEFFF8] text-justify text-[#23562A] text-[14pt] w-[110px] h-[30px]">
        <button type="button" id="sub" class="border-l border-t border-b border-[#9A9898] px-5 py-1 hover:bg-[#e7f4e5] focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-l-full">-</button>
        <input class="count border-t border-b border-[#9A9898] bg bg-[#FEFFF8] py-1 w-10 text-center" type="text" readonly="" id="quantity-1" value="1" min="1" aria-label="Quantity">
        <button type="button" id="add" class="border-r border-t border-b border-[#9A9898] px-5 py-1 hover:bg-[#e7f4e5] focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-r-full">+</button>
      </div>

      <hr class="w-[full] desktop:hidden mt-[20px] mr-[50px]">

      <!-- Prod description -->
      <div class="text-[14pt] text-black pt-[20px]">
        <p class="font-bold">Thông tin sản phẩm</p>
        <ul class="ml-[21px] pt-[15px] list-disc" *ngFor="let desc of product.processDetail()">
          <li>{{ desc }}</li>
        </ul>
      </div>

      <div class="grid grid-cols-[1.5fr_1.5fr_1fr] gap-[20px] pt-[20px] text-[14pt] font-bold">
        <button type="button" id="sub" class="border-2 w-[full] h-[45px] px-5 border-[#23562A] text-[#23562A] hover:cursor-pointer focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-full">
          Thêm vào giỏ hàng
        </button>
        <button type="button" id="sub" class="border-2 w-[full] h-[45px] px-5 border-[#23562A] bg-[#23562A] text-white hover:cursor-pointer focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-full">
          Mua ngay
        </button>
      </div>
    </div>
  </div>
  <!-- <button (click)="showmoredetail()">Hiên thị chi tiết</button> -->


  <div class="grid grid-cols-[2fr_1fr] mt-[10px] bg-[#e7f4e5] h-[750px] mb-[50px]">
    <div class="text-[13pt] grid-col text-black pt-[20px] text-justify mx-[50px] items-center">
      <div class="font-bold mb-4 fon">MÔ TẢ SẢN PHẨM</div>
      <div>{{ product.productFullDescription }}</div>
    </div>
    <div>
      <img src="{{ product.productFullImgSource }}" alt="Ảnh sản phẩm" class="h-[750px] w-[full]">
    </div>

</div>
  <div class="w-full h-[480px] grid grid-cols-[1fr_10fr_1fr] gap-[10px] pb-0 text-[#23562a] mb-[50px]">
    <img class="ml-[50px] w-[45px] h-[39px] mt-[200px] hover:scale-110" src="../../assets/images/next-symbol-1.png" />

    <div class="grid grid-rows-[1fr_4fr_1fr] gap-0">
      <p class="text-[22pt] text-center font-custom pb-[50px]">SẢN PHẨM TƯƠNG TỰ</p>

      <div class="grid grid-cols-4 justify-between gap-0 pt-[50px] text-normal text-[14pt]">
        <div *ngFor="let product of products">
          <div class="leading-[30px] text-[14pt] pb-[50px] font-normal">
            <a href="#" [routerLink]="product.productID" class="relative group">
              <img [src]="product.productImgReduce" class="object-cover w-auto h-full">
              <p class="font-bold text-[12pt] mt-4">{{ product.productTitle }}</p>
              <p class="text-[12pt] text-gray-500">{{ product.productPrice }} VNĐ</p>
            
              <div class="hidden group-hover:block absolute bottom-[75px] left-0 w-[250px] p-[16px] bg-[#E7F4E5] text-[#23562A] text-[12pt] items-center opacity-80 font-custom text-center">
                THÊM VÀO GIỎ HÀNG
              </div>
            </a>
          </div>
        </div>
      </div>
      


      <div class="grid justify-center mt-0">
        <button type="button" class="w-[165px] h-[45px] text-[12pt] font-bold border-2 px-5 border-[#23562A] text-[#23562A] hover:bg-[#e7f4e5] cursor-pointer focus:outline-none focus:ring focus:transition duration-300 ease-in-out rounded-full">
          Xem thêm &nbsp; &rightarrow;
        </button>
      </div>
    </div>

    <img class="w-[45px] h-[39px] hover:scale-110 mt-[200px]" src="../../assets/images/next-symbol-2.png" />
  </div>
</div>