<div class="bg-[#e7f4e5] w-full h-8 pl-[30px] flex items-center text-black text-[14pt] font-noto-sans gap-x-2">
    <a routerLink="" class="no-underline text-[#000000]">TRANG CHỦ</a> &#8260;
    <a routerLink="" class="no-underline text-[#000000]">THANH TOÁN</a> &#8260;
    <a routerLink="/paymentmethods" class="no-underline text-[#23562A] hover:underline font-noto-sans">PHƯƠNG THỨC THANH
        TOÁN</a>
</div>
<div class="items-center border-3 border-solid border-[#23562A] m-auto mt-8 w-[90%]">
    <div class="label-container border-solid border-[#23562A] border w-90 p-4" (click)="selectPaymentOption('COD')">
        <input type="radio" id="option1" name="COD payment"
            class="mr-2 border-2 border-[#23562A] focus:ring-green-500 focus:border-green-500"
            [(ngModel)]="selectedOption" value="COD">
        <label for="option1" class="button">
            <img src="assets/Payment/code.png" alt="COD Image" class="inline-block w-7" />
            <p class="inline-block font-bold text-[18px] text-[#23562A] ml-2">Thanh toán khi nhận hàng</p>
        </label>
    </div>

    <div class="flex items-center border-solid border-[#23562A] border w-90 p-4 mt-[10px]"
        (click)="selectPaymentOption('Credit')">
        <input type="radio" id="option2" name="Credit" class="mr-2" [(ngModel)]="selectedOption" value="Credit">
        <label for="option2" class="button">
            <img src="assets/Payment/card.png" alt="Credit card Image" class="inline-block w-7" />
            <p class="inline-block font-bold text-[18px] text-[#23562A] ml-2">Thanh toán bằng thẻ ngân hàng</p>
        </label>
    </div>

    <div class="flex items-center border-solid border-[#23562A] border w-90 p-4 mt-[10px]"
        (click)="selectPaymentOption('E')">
        <input type="radio" id="option3" name="E" class="mr-2" [(ngModel)]="selectedOption" value="E">
        <label for="option3" class="button">
            <img src="assets/Payment/e-wallet.png" alt="E-wallet Image" class="inline-block w-7" />
            <p class="inline-block font-bold text-[18px] text-[#23562A] ml-2">Thanh toán bằng ví điện tử</p>
        </label>
    </div>
    <div *ngIf="showErrorMessage" class="flex items-center align-center mt-[10px]">
        <img src="assets/Payment/warning.png" class="inline-block w-7" />
        <p style="color: #FF0000;" class="ml-2 leading-10">Hãy chọn một phương thức thanh toán!</p>
        </div>
</div>
<div style="display: grid; grid-template-columns: 1fr; grid-template-rows: auto; gap: 1rem; padding: 1rem;">
    <button
        style="background-color: #23562A; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; width:150px; height: 50px;  margin-left: auto;"
        (click)="confirmPayment()">ĐỒNG Ý</button>
</div>