<!-- <form [formGroup]="form" (submit)="submit()">
  <table>
    <tr>
      <td>Full Name:</td>
      <td><input type="text" formControlName="name" class="form-control" placeholder="Full Name"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="email" formControlName="email" class="form-control" placeholder="Email"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" formControlName="password" class="form-control" placeholder="Password"></td>
    </tr>
    <tr>
      <td>Confirm Password:</td>
      <td><input type="password" formControlName="cfpassword" class="form-control" placeholder="Confirm password"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Sign up</button> &nbsp;
        <button type="reset">Reset</button>
      </td>

    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" (click)="gg()"><img src="../../assets/img/google.png" width="15"> &nbsp;Đăng nhập bằng
          goole</button>
      </td>

    </tr>
  </table>
</form> -->

<div class="min-h-screen justify-center flex items-center bg-opacity-30">
  <div class="relative flex flex-col m-6 bg-[#fefff8] shadow-2xl rounded-2xl md:flex-row md:space-y-0">
    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-3 text-4xl font-bold text-[#23562a]">ĐĂNG KÝ</span>
      <form [formGroup]="form" (submit)="submit()">
        <div class="py-2">
          <span class="mb-2 text-md text-[18px]">Họ và tên</span>
        </div>
        <div class="py-2">
          <input type="text" formControlName="name"
            class="w-full p-2 border border-gray-500 rounded-md placeholder:font-light placeholder:text-gray-500 bg-[#fefff8]"
            placeholder="Nhập họ và tên" name="hovaten" id="hovaten" />
        </div>
        <div class="py-2">
          <span class="mb-2 text-md text-[18px]">Địa chỉ Email</span>
        </div>
        <div class="py-2">
          <input type="text" formControlName="email"
            class="w-full p-2 border border-gray-500 rounded-md placeholder:font-light placeholder:text-gray-500 bg-[#fefff8]"
            placeholder="Nhập email" name="email" id="email" />
        </div>
        <div class="py-2">
          <span class="mb-2 text-md text-[18px]">Mật khẩu</span>
        </div>
        <div class="py-2">
          <div class="relative">
            <input type="password" formControlName="password"
              class="w-full p-2 border border-gray-500 rounded-md placeholder:font-light placeholder:text-gray-500 bg-[#fefff8]"
              placeholder="Nhập mật khẩu" name="password" id="password" />
            <p class="text-md text-[11px] italic">Mật khẩu bao gồm 8 ký tự, 1 ký tự in hoa, 1 ký tự số và 1 ký tự đặc
              biệt</p>
          </div>
        </div>
        <div class="py-2">
          <span class="mb-2 text-md text-[18px]">Xác nhận mật khẩu</span>
        </div>
        <div class="py-2">
          <input type="text" formControlName="cfpassword"
            class="w-full p-2 border border-gray-500 rounded-md placeholder:font-light placeholder:text-gray-500 bg-[#fefff8]"
            placeholder="Nhập lại mật khẩu" name="confirm_pw" id="confirm_pw" />
          <p class="text-md text-[11px]">Nhấn đăng ký nghĩa là tôi đồng ý với <a href="#"
              class="text-[#23562a] font-bold"> Điều khoản và chính sách </a> của Indofa</p>
          <button type="submit" class="w-full bg-[#23562a] text-[#fefff8] p-2 rounded-lg mb-6 text-[18px] cursor-pointer">
            Đăng ký
          </button>
          <div class="relative pb-6">
            <hr>
            <div class="absolute -top-3 left-0 w-full text-center">
              <span class="bg-[#fefff8] px-3 text-gray-600">Hoặc</span>
            </div>
          </div>
          <button type="button" (click)="gg()"
            class="w-full bg-[#fefff8] border-2 border-green-700 text-md text-[18px] p-2 rounded-lg cursor-pointer">
            <img src="./assets/signin_login/google.png" alt="img" class="inline mr-2">
            Đăng nhập bằng Google
          </button>
        </div>
        <div class="text-center text-[15px]">
          Bạn đã có tài khoản?
          <span class="font-bold text-[#23562a]"><a routerLink="/login"
            class="text-blue-500 no-underline">Đăng nhập ngay</a></span>
        </div>
      </form>
    </div>
    <div class="relative">
      <img src="./assets/signin_login/signinnhe.jpg" alt="img"
        class="h-full w-[460px] rounded-r-2xl hidden md:block object-cover">
      <div class="absolute hidden top-4 right-4 p-4 drop-shadow-lg md:block">
        <img src="./assets/signin_login/close.png" class="w-[40px] h-full">
      </div>
    </div>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </div>
</div>
