<!-- LEFT MENU OF TERMS POLICY -->
<div class="flex flex-col relative shrink-0 w-[350px] visible pt-[50px] pl-[50px] mr-[50px]">
  <div>
      <p class="text-[15pt] font-bold font-custom text-[#23562A] w-full">ĐIỀU KHOẢN & CHÍNH SÁCH</p>
      <hr class="w-[350px] desktop:hidden mt-3">
  </div>
  <div class="text-[13pt]">
      <a routerLink="/blogcategory" class="overflow-hidden whitespace-nowrap">
          <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[350px] py-2">Chính sách bán hàng & đổi trả</dd>
          <hr class="w-[350px] desktop:hidden mt-3" >
      </a>
      <a routerLink="/" class="overflow-hidden whitespace-nowrap">
          <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[350px] py-2">Chính sách bảo mật</dd>
          <hr class=" w-[350px] desktop:hidden mt-3" >
      </a>
      <a routerLink="/" class="overflow-hidden whitespace-nowrap">
          <dd class="collection__item mt-2 text-normal hover:bg-[#E7F4E5] w-[350px] py-2">Chính sách giao hàng & vận chuyển</dd>
          <hr class="w-[350px] desktop:hidden mt-3">
      </a>
  </div>
</div>
