<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black gap-x-2">
  <a routerLink="" class="hover:underline">TRANG CHỦ</a> &#8260;
  <p routerLink="/blogs" class="text-[#23562A] hover:underline">THANH TOÁN</p> &#8260;
  <p routerLink="/blogs" class="text-[#23562A] hover:underline">CHỌN ĐỊA CHỈ GIAO HÀNG</p> &#8260;
  <p class="text-[#23562A] hover:underline">SỬA ĐỊA CHỈ</p>
</div>
<div class="mx-[50px] border-[#9A9898] border-2 mt-[50px]">
  <div class="px-[57px] mt-[50px]">
      <div class="w-full bg-[#E7F4E5] p-1">
          <p class="text-[22px] text-[#23562A] font-custom">Liên hệ</p>
      </div>
      <input type="text" placeholder="Họ và tên" class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] pl-[16px]">
      <input type="text" placeholder="Số điện thoại" class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] pl-[16px]">
  </div>
  <div class="px-[57px] mt-[10px]">
      <div class="w-full bg-[#E7F4E5] p-1">
          <p class="text-[22px] text-[#23562A] font-custom">Địa chỉ</p>
      </div>
      <div class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] px-[16px] inline-flex">
          <p class="w-full">Tỉnh/Thành phố, Quận/Huyện, Phường Xã</p>
          <img src="./assets/images/address_arrow.png" class="h-[20px] w-auto">
      </div>
      <input type="text" placeholder="Số điện thoại" class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] pl-[16px]">
  </div>
  <div class="px-[57px] mt-[10px] mb-[50px]">
      <div class="container inline-flex">
          <p class="w-full">Đặt làm địa chỉ mặc định</p>
          <input type="checkbox" id="check" class="hidden">
          <label for="check" class="button"></label>
      </div>
  </div>
</div>
<div class="my-[80px] text-right mr-[50px]">
  <button class="text-[18px] text-[#FEFFF8] bg-[#23562A] w-[200px] py-[14px] rounded-[10px]">
      HOÀN THÀNH
  </button>
</div>
