.container{
  width: full;
  height: 21px;
  display: flex;
}
.button{
  background-color: #d2d2d2;
  width: 40px;
  height: 21px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.button::before{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 200px;
  margin: 1px;
  transition: 0.2s;
}
input:checked + .button{
  background-color: #23562A;
}
input:checked + .button::before{
  transform: translateX(19px);
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  color: #000000;
}
.dropdown select {
  width: 100%;
  padding: 8px;
  margin-top:10px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  background-color: #FEFFF8;
  color: #000000;
}
