<!-- BLOG CATEGORY PAGE -->
<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <a routerLink="/blogs" class="hover:underline">Blog</a> &#8260;
    <p class="text-[#23562A] hover:underline">Mùa nào cây nấy</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
    <div class="pt-0">
      <app-leftmenu></app-leftmenu>
    </div>
    <div>
        <div class="font-sans">
            <br>
            <p class=" text-[28pt] text-[#23562A] font-bold text-center font-custom">MÙA NÀO CÂY NẤY</p>
            <br>        

            <div class="hover:bg-[#E7F4E5] w-[full] h-[203px] float-left mb-4 mx-[50px]">
                <a routerLink="/blog">
                    <img src="../../assets/img/Rectangle 117.png" class="w-[331px] h-[204px] float-left">
          
                    <div class="pl-[355px] text-justify pr-[20px] pt-[10px]">
                        <p class="text-[14pt] font-bold text-[#23562A] font-custom">Mùa xuân nở rộ</p>
                        <div class="text-[12pt] italic text-[#23562A]">
                            <p>Huỳnh Nga</p>
                            <p>31/10/2023</p>
                        </div>
                        <p>Mùa xuân là thời điểm lý tưởng để thêm một chút sức sống vào ngôi nhà của bạn bằng cách trồng cây cảnh trong nhà.</p>
                    </div>
                </a>
            </div>

            <div class="hover:bg-[#E7F4E5] w-[full] h-[203px] float-left mb-4 mx-[50px]">
                <a href="#">
                    <img src="../../assets/img/Rectangle 118.png" class="w-[331px] h-[204px] float-left">
          
                    <div class="pl-[355px] text-justify pr-[20px] pt-[10px]">
                        <p class="text-[14pt] font-bold text-[#23562A] font-custom">Màu xanh đón hè về</p>
                        <div class="text-[12pt] italic text-[#23562A]">
                            <p>Thanh Mai</p>
                            <p>21/10/2023</p>
                        </div>
                        <p>Mùa hè đem lại ánh nắng sáng rực rỡ, nhiệt độ cao, và nhiều hoạt động ngoài trời thú vị.</p>
                    </div>
                </a>
            </div>
          
            <div class="hover:bg-[#E7F4E5] w-[full] h-[203px] float-left mb-4 mx-[50px]">
                <a href="#">
                    <img src="../../assets/img/Rectangle 119.png" class="w-[331px] h-[204px] float-left">
          
                    <div class="pl-[355px] text-justify pr-[20px] pt-[10px]">
                        <p class="text-[14pt] font-bold text-[#23562A] font-custom">Vẻ đẹp của mùa thu</p>
                        <div class="text-[12pt] italic text-[#23562A]">
                            <p>Yến Nhi</p>
                            <p>14/10/2023</p>
                        </div>
                        <p>Mùa thu là một trong những thời điểm đẹp nhất của năm, khi thiên nhiên biến đổi thành một bức tranh sắc màu tuyệt đẹp.</p>
                    </div>
                </a>
            </div>
          
            <div class="hover:bg-[#E7F4E5] w-[full] h-[203px] float-left mb-4 mx-[50px]">
                <a href="#">
                    <img src="../../assets/img/Rectangle 120.png" class="w-[331px] h-[204px] float-left">
          
                    <div class="pl-[355px] text-justify pr-[20px] pt-[10px]">
                        <p class="text-[14pt] font-bold text-[#23562A]" font-custom>Mùa đông ấm dần</p>
                        <div class="text-[12pt] italic text-[#23562A]">
                            <p>Nguyễn Nghĩa</p>
                            <p>2/10/2023</p>
                        </div>
                        <p>Mùa đông có thể đặt ra một thách thức đối với việc trồng cây cảnh trong nhà, do ánh sáng thấp hơn và nhiệt độ thấp hơn.</p>
                    </div>
                </a>
            </div>
            <div>
                <app-bottommenublog></app-bottommenublog>
            </div>
        </div>
    </div>
</div>      


