<!-- BLOG CATEGORY PAGE -->
<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black text-[13pt] gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <a routerLink="/blogs" class="hover:underline">Blog</a> &#8260;
    <p class="text-[#23562A] hover:underline">Mùa nào cây nấy</p>
</div>

<div class="w-full h-full grid grid-cols-[1fr_3fr] gap-[30px] overflow-hidden">
    <div class="pt-0">
      <app-leftmenu></app-leftmenu>
    </div>
    <div>
        <div class="font-sans">
            <br>
            <p class=" text-[28pt] text-[#23562A] font-bold text-center font-custom uppercase">{{mapping[type]}}</p>
            <br>        
            <app-loader *ngIf="loading"></app-loader>
            <div class="hover:bg-[#E7F4E5] w-[full] h-[203px] float-left mb-4 mx-[50px]" *ngFor="let blog of blogs">
                <a routerLink="/blogcategory/{{blog.blogID}}">
                    <img src="{{blog.main_img}}" class="w-[331px] h-[204px] float-left">
          
                    <div class="pl-[355px] text-justify pr-[20px] pt-[10px]">
                        <p class="text-[14pt] font-bold text-[#23562A] font-custom">{{blog.title}}</p>
                        <p>{{blog.abstract}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>      


