<p>resetps-ad works!</p>
<div class="px-[50px] items-center">
    <h1 class="text-[#23562A] text-[30px] font-custom text-center mt-[50px]">KHÔI PHỤC MẬT KHẨU</h1>
    <div class="mx-[100px]">
        <p class="text-[16px] mt-[20px]">
            Xin chào, <span class="text-[#23562A] font-bold">example_username</span>! Hãy nhập mật khẩu mới cho email của bạn.
            Chúng tôi khuyến khích bạn nên tạo mật khẩu với hướng dẫn sau đây:
          </p>
          <ul class="list-disc ml-8">
            <li >
              Mật khẩu nên có độ dài tối thiểu <span class="text-[#23562A] font-bold">8 ký tự</span>.
            </li>
            <li>
              Mật khẩu có chứa <span class="text-[#23562A] font-bold">ký tự đặc biệt, số</span> và <span
                class="text-[#23562A] font-bold">chữ in hoa</span>.
            </li>
            <li >
              <span class="text-[#23562A] font-bold">Hạn chế</span> đặt mật khẩu liên quan tới thông tin cá nhân như <span
                class="text-[#23562A] font-bold">ngày sinh, họ tên</span>...
            </li>
          </ul>
    </div>
    
    <div class="flex justify-center mt-[30px] w-full">
        <div class="w-[500px]">
          <form [formGroup]="resetForm">
            <div class="py-2">
              <span class="mb-2 text-md text-[20px]">Mật khẩu mới</span>
            </div>
            <div class="py-2">
              <div class="">
                <input formControlName="password" type="password"
                  class="w-full p-2 border border-gray-500 rounded-md placeholder:font-light placeholder:text-gray-500 bg-[#fefff8]"
                  placeholder="Nhập mật khẩu" name="password" id="password" />
              </div>
            </div>
            <div class="py-2">
              <span class="mb-2 text-md text-[20px]">Xác nhận mật khẩu</span>
            </div>
            <div class="py-2">
              <input type="text" formControlName="cfpassword"
                class="w-full p-2 border border-gray-500 rounded-md placeholder:font-light placeholder:text-gray-500 bg-[#fefff8]"
                placeholder="Nhập lại mật khẩu" name="confirm_pw" id="confirm_pw" />
            </div>
            <div class="py-2 flex justify-center">
              <button (click)="reset()"
                class="w-full bg-[#23562a] text-[#fefff8] p-2 rounded-lg mb-6 text-[18px] cursor-pointer">
                Khôi phục mật khẩu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>