<div class="min-h-screen justify-center flex items-center bg-opacity-30">
  <div class="relative flex flex-col m-6 bg-[#fefff8] shadow-2xl rounded-2xl md:flex-row">
    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-[10px] text-[32px] text-[#23562a] font-custom">ĐĂNG NHẬP</span>
      <form [formGroup]="form" (submit)="submit()">
        <div class="pb-[7px]">
          <span class="text-md text-[18px]">Địa chỉ email</span>
        </div>
        <div class="pb-[18px]">
          <input type="text" formControlName="email"
            [ngClass]="{'border-[#FF0000]': email_false === true, 'border-[#D0C6C6]': email_not_found === true}"
            class="w-full p-2 border border-[#D0C6C6] rounded-md placeholder:text-[12px] placeholder:text-[#D0C6C6] bg-[#fefff8]"
            placeholder="Nhập email" name="hovaten" id="hovaten" />
          <div *ngIf="email_false" class="text-[#FF0000] text-[15px] text-left pt-0 pb-0 mt-[8px]">
            <span>Email không được để trống hoặc sai định dạng</span>
          </div>
          <div *ngIf="email_not_found" class="text-[#FF0000] text-[15px] text-left pt-0 pb-0 mt-[8px]">
            <span>Email không tồn tại</span>
          </div>
        </div>
        <div class="pb-[7px]">
          <span class="text-md text-[18px]">Mật khẩu</span>
        </div>
        <div class="pb-[18px]">
          <input type="password" formControlName="password"
            [ngClass]="{'border-[#FF0000]': password_false === true, 'border-[#D0C6C6]': password_not_match === false}"
            class="w-full p-2 border border-[#D0C6C6] rounded-md placeholder:text-[12px] placeholder:text-[#D0C6C6] bg-[#fefff8]"
            placeholder="Nhập mật khẩu" name="hovaten" id="hovaten" />
          <div *ngIf="password_false" class="text-[#FF0000] text-[15px] text-left pt-0 pb-0 mt-[8px]">
            <span>Mật khẩu không được trống</span>
          </div>
        </div>
        <div class="mb-[18px] inline-flex">
          <input type="checkbox" class="accent-[#23562a]" formControlName="save" id="savelogin">
          <label for="savelogin" class="text-[15px] ml-[7px]">Lưu phiên đăng nhập?</label>
          <span class="ml-[77px] text-[#23562a] font-bold text-[15px]"><a routerLink="/forgot-password"
              class="text-[#23562A] no-underline">Quên mật khẩu?</a></span>
        </div>
        <div class="">
          <button type="submit"
            class="w-full bg-[#23562a] text-[#fefff8] p-2 rounded-lg mb-[30px] text-[18px] cursor-pointer">
            Đăng nhập
          </button>
          <div *ngIf="login_false" class="text-[#FF0000] text-[15px] text-center pt-0 pb-0 mb-[20px]">
            <span>Đã có lỗi trong quá trình đăng nhập</span>
          </div>
          <div *ngIf="password_not_match" class="text-[#FF0000] text-[15px] text-left pt-0 pb-0 mt-[8px]">
            <span>Mật khẩu không đúng</span>
          </div>
          <div class="relative mb-[30px] mt-[10px]">
            <hr>
            <div class="absolute -top-3 left-0 w-full text-center">
              <span class="bg-[#fefff8] px-2 text-[10px] text-[#000000]">Hoặc</span>
            </div>
          </div>
          <button (click)="googleLogin()" type="button"
            class="w-full bg-[#fefff8] border-2 border-[#23562a] text-[18px] p-2 mb-[18px] rounded-lg cursor-pointer">
            <img src="./assets/signin_login/google.png" alt="img" class="inline mr-2">
            Đăng nhập bằng Google
          </button>
        </div>
      </form>
      <div class="text-center text-[15px]">
        Bạn chưa có tài khoản?
        <span class="font-bold text-[#23562a]">Đăng ký ngay</span>
      </div>
    </div>
    <div class="relative">
      <img src="./assets/signin_login/login.jpg" alt="img"
        class="h-full w-[460px] rounded-r-2xl hidden md:block object-cover">
      <div class="absolute hidden top-4 right-4 p-4 drop-shadow-lg md:block">
        <img src="./assets/signin_login/close.png" class="w-[40px] h-full">
      </div>
    </div>
  </div>
</div>
