<img src="./assets/homepage/Banner.png" class="w-full">

<app-product-category-container [container_title]="'SẢN PHẨM NỔI BẬT'"></app-product-category-container>
<app-product-category-container [container_title]="'HẠT GIỐNG'"></app-product-category-container>
<app-product-category-container [container_title]="'DỤNG CỤ TRỒNG CÂY'"></app-product-category-container>
<app-product-category-container [container_title]="'ĐẤT / GIÁ THỂ TRỒNG'"></app-product-category-container>
<div class="grid grid-cols-2 gap-6 px-[80px]">
  <div class="flex justify-center">
    <img src="./assets/homepage/Trangtrichau.png" class="object-cover w-full h-[480px]">
  </div>
  <div class="py-20 px-10">
    <h1 class="text-[35px] text-[#23562A]">TRANG TRÍ CHẬU CÂY</h1>
    <p class="text-[18px]">
      Trang trí  chậu cây muôn màu muôn vẻ<br/>
      Thỏa sức sáng tạo theo phong cách riêng của bạn
    </p>
    <div class="py-10">
      <a href="#">
        <div class="btn-main">
          Xem thêm →
        </div>
      </a>
    </div>
  </div>
</div>
<div class="grid grid-cols-2 gap-6 px-[80px]">
  <div class="py-20">
    <h1 class="text-[#23562A] text-[30px]">Tạo không gian sống xanh cùng Indofa</h1>
    <p class="text-[18px]">
      Chào mừng các tín đồ yêu thiên nhiên và cây cảnh đến với Indofa!
    </p>
    <div class="py-10 pr-auto">
      <a href="#">
        <div class="btn-main">
          Xem bài viết →
        </div>
      </a>
    </div>
  </div>
  <div class="py-20">
    <img src="assets/test.png" class="object-cover w-full">
  </div>
</div>
<div class="grid grid-cols-3 gap-6 px-20">
  <div class="blog-category">
    <img src="./assets/homepage/muanaocaynay.png" class="object-cover w-full h-[329px]">
    <div class="blog-overlay">
      <a href="#" class="flex items-center text-[#23562A] text-[20px] font-bold">Mùa nào cây nấy</a>
    </div>
  </div>
  <div class="blog-category">
    <img src="./assets/homepage/khonggiansongxanh.png" class="object-cover w-full h-[329px]">
    <div class="blog-overlay">
      <a href="#" class="flex items-center text-center text-[#23562A] text-[20px] font-bold">Không gian sống xanh <br/> cùng Indofa</a>
    </div>
  </div>
  <div class="blog-category">
    <img src="./assets/homepage/khoimaucamxuc.png" class="object-cover w-full h-[329px]">
    <div class="blog-overlay">
      <a href="#" class="flex items-center text-[#23562A] text-[20px] font-bold">Nơi khơi màu cảm xúc</a>
    </div>
  </div>
</div>
<div class="py-10 flex justify-center">
  <a href="#">
    <div class="btn-main">
      Xem thêm →
    </div>
  </a>
</div>
