<img src="assets/banner.png" class="w-full">
<div class="grid grid-cols-3 gap-6 px-[40px] auto-rows-min mt-20">
  <div class="p-4 border-solid rounded-[20px] border-[3px] border-[#23562A] text-center">
    <div class="rounded-full border-solid border-[3px] border-[#23562A] w-[65px] m-auto translate-x-[-50%]">
      <img src="assets/vision.png" class="object-contain p-1">
    </div>
    <p class="font-fold">TẦM NHÌN</p>
    <p class="text-left">Trở thành một sản phẩm hàng đầu trong lĩnh vực trồng trọt trong nhà trên sàn thương mại điện tử.</p>
  </div>
  <div class="bg-[#23562A] text-white rounded-[20px] p-4 text-center border-2 border-green-600 mt-4">
    <div class="rounded-full bg-white w-[65px] m-auto translate-x-[-50%]">
      <img src="assets/mission.png" class="object-contain p-1">
    </div>
    <p class="font-fold">SỨ MỆNH</p>
    <p class="text-left">Cung cấp cho khách hàng các sản phẩm chất lượng cao, an toàn và bền vững trong lĩnh vực trồng trọt trong nhà và cùng đồng hành với khách hàng trong suốt quá trình tận hưởng các trải nghiệm trồng cây đó.</p>
  </div>
  <div class="p-4 border-solid rounded-[20px] border-[3px] border-[#23562A] text-center">
    <div class="rounded-full border-solid border-[3px] border-[#23562A] w-[65px] m-auto translate-x-[-50%]">
      <img src="assets/objective.png" class="object-contain p-1">
    </div>
    <p class="font-fold">MỤC TIÊU</p>
    <p class="text-left">Phát triển và cung cấp cho khách hàng các sản phẩm trồng trọt trong nhà chất lượng cao và đa dạng, đồng thời tạo ra một trải nghiệm tiện lợi và dễ sử dụng.</p>
  </div>
</div>
<app-product-category-container [container_title]="'HẠT GIỐNG'"></app-product-category-container>
<app-product-category-container [container_title]="'DỤNG CỤ TRỒNG CÂY'"></app-product-category-container>
<app-product-category-container [container_title]="'ĐẤT / GIÁ THỂ TRỒNG'"></app-product-category-container>
<div class="grid grid-cols-2 gap-6 px-[80px] mt-20 bg-[#E7F4E5]">
  <div class="py-20">
    <h1 class="text-center">TRANG TRÍ CHẬU CÂY</h1>
  </div>
  <div class="py-20 flex justify-center">
    <img src="assets/test_img.png" class="object-cover w-full">
  </div>
</div>
<div class="grid grid-cols-2 gap-6 px-[80px]">
  <div class="py-20 flex justify-center">
    <img src="assets/test_img.png" class="object-cover w-full">
  </div>
  <div class="py-20">
    <h1 class="text-center">BÀI VIẾT NÀO ĐÓ NỔI BẬT</h1>
  </div>
</div>
<app-product-category-container [is_blog]="true" [container_title]="'BLOG CỦA INDOFA'"></app-product-category-container>
