.btn-main {
  border-radius: 15px;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #23562A;
  font-weight: bold;
  border: 2px solid #23562A;
}

.btn-main:hover{
  color: #FEFFF8;
  background-color: #23562A;
}
.blog-category{
  position: relative;
}

.blog-category .blog-overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 329px;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(231,244,229,0.8);
  background-color: 0.8;
}
.blog-category:hover .blog-overlay{opacity: 1;}

swiper-container::part(button-prev) {
  top: var(--swiper-navigation-top-offset,50%);
  width: 30px;
  height: 30px;
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(254, 255, 248);
  background-color: rgb(35, 86, 42);
  border-radius: 100px;
  padding: 5px;
}

swiper-container::part(button-next) {
  top: var(--swiper-navigation-top-offset,50%);
  width: 30px;
  height: 30px;
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(254, 255, 248);
  background-color: rgb(35, 86, 42);
  border-radius: 100px;
  padding: 5px;
}
