@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Noto Sans', sans-serif;
    color: black;
}
.container{
	margin: 0 30px;
}
.notice{
    background-color: #23562A;
    width: 100%;
    padding: 9px 0px 12px 40px;
    justify-content: center;
    text-align: center;
    color: white;
}
.notice a{
	color: white;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    background-color: #FEFFF8;
    padding: 23px 50px 20px 50px;
}

.first-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding-right: 50px;
}

.search_wrap{
	width: 500px;
	margin: 0 19px;
	
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 35px;
	
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}


.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 15px;
	padding-right: 12px;
}
.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
	border-radius: 50px;
	font-size: 13px;
	background-color: #FEFFF8;
}
.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}


.container1{
	max-width: 100%;
	margin: 0;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
	text-align: center;
}
a{
	text-decoration: none;
	color: #000000;
}

.header1{
	display: block;
	width: 100%;
	position: relative;
	padding: 0;
	
}

.list-item ul, h4{
	text-align: left;
}

.header1 .menu > ul > li{
	display: inline-block;
	line-height: 40px;
	margin: 0px 25px;
	justify-content: center;

}
.header1 .menu > ul > li > a{
	font-size: 16px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: uppercase;
}
.header1 .menu > ul > li > a::before{
	content: '';
	position: absolute;
	bottom: -8px;
	width: 100%;
	height: 2px;
	background: black;
	transform: scaleX(0);
	transition: tranform 0.5s ease-in-out;

}
.header1 .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color: #FEFFF8;
	text-align: center; 
	padding: 0 50px;
	transition: all 0.5s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header1 .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}

.header1 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header1 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#000000;
	transition: color 0.3s ease;
}
.header1 .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header1 .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 100%;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:52px 150px;
  text-align: center;
  background-color: #FEFFF8;
}
.header1 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 33%;
  padding:0 15px;
}
.header1 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	padding:10px 0;
}
.header1 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header1 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header1 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover{
	text-decoration: underline;
}
.header1 .menu > ul > li > a:hover::before{
	transform: scaleX(1);
}