<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="p-0 m-0 box-border">
<div class="py-[10px] bg-[#23562A] w-full">
    <div class="justify-center text-center text-[#FEFFF8]">
        Hạt giống mới? <a class="text-[#FEFFF8]" href="#">Khám phá ngay</a>
    </div>
</div>
<div class="w-full px-[50px] py-[20px]">
    <div class="flex item-center justify-between">
        <div class="w-[135px] h-auto">
            <img src="./assets/images/Logo.png">
        </div>
       -->

        <!--SEARCH BAR HERE-->
        <div class="searchbox w-[500px]">
  <div class="relative w-[500px] h-[35px]">
    <input
      type="text"
      class="pl-[20px] rounded-[10px] text-[13px] w-full h-full py-[10px] bg-[#FEFFF8] border-2 border-[#23562A]"
      formControlName="searchValue"
      placeholder="Tìm kiếm sản phẩm..."
      (keyup)="sendData($event)">
    <div class="btn btn_common">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <!-- <section class="search-result">
    <p *ngIf="products.length < 1 && hasQuery">Sorry. Nothing Found</p>
    <div *ngFor="let product of products">
      <hr *ngIf="product !== products[0]">
      <p>{{ product.productTitle }}</p>
    </div>
  </section> -->
</div>
<div class="search-result-container w-[500px] rounded-[15px] px-5 py-5">
    <div>
        <ul class="px-[20px] py-[15px] w-full" *ngFor="let product of products">
            <li class="list-none rounded-[3px] py-[5px] px-[10px] cursor-pointer text-[14px] text-left hover:bg-[#E7F4E5]">{{ product.productTitle }}</li>

        </ul>
    </div>

</div>


        <!--SEARCH BAR END-->
        <!-- </div>
              <div class="flex item-center">
                  <a href="#" class="inline-flex">
                      <img src="./assets/images/user.png" class="w-[20px] h-[20px]">
                      <span class="pl-[5px]">Đăng nhập / Đăng ký</span>
                  </a>
                </div>
              <div class="flex item-center">
                  <a href="#" class="inline-flex">
                      <img src="./assets/images/bag.png" class="w-[20px] h-[20px]">
                      <span class="pl-[5px]">0</span>
                  </a>
              </div>
          </div>
      </div>
    </div>
  <header class="header1">
      <div class="container1">
               menu start here -->
              <!-- <div class="header-item item-center">
                  <nav class="menu">
                      <ul class="menu-main">
                          <li>
                              <a href="#">TRANG CHỦ</a>
                          </li>
                          <li class="menu-item-has-children">
                              <a href="#">HẠT GIỐNG&nbsp;<i class="fa fa-angle-down"></i></a>
                              <div class="sub-menu mega-menu mega-menu-column-4">
                                 <div class="list-item">
                                     <h4 class="title">HẠT GIỐNG</h4>
                                     <ul>
                                         <li><a href="#">Hạt giống rau</a></li>
                                         <li><a href="#">Hạt giống hoa</a></li>
                                         <li><a href="#">Hạt giống củ quả</a></li>
                                     </ul>
                                 </div>
                                 <div class="list-item">
                                     <img src="./assets/images/hatgiong1.png">
                                 </div>
                                 <div class="list-item">
                                     <img src="./assets/images/hatgiong2.png">
                                 </div>
                              </div>
                          </li>
                          <li class="menu-item-has-children">
                             <a href="#">DỤNG CỤ TRỒNG CÂY&nbsp;<i class="fa fa-angle-down"></i></a>
                             <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <h4 class="title">CHẬU CÂY SẴN</h4>
                                    <ul>
                                        <li><a href="#">Chậu cây gốm</a></li>
                                        <li><a href="#">Chậu cây nhựa</a></li>
                                        <li><a href="#">Chậu cây treo</a></li>
                                        <li><a href="#">Trang trí chậu cây</a></li>
                                    </ul>
                                    <h4 class="title">DỤNG CỤ</h4>
                                    <ul>
                                        <li><a href="#">Dụng cụ khác</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="./assets/images/dungcu1.png">
                                </div>
                                <div class="list-item">
                                    <img src="./assets/images/dungcu2.png">
                                </div>
                             </div>
                         </li>
                         <li>
                             <a href="#">ĐẤT / GIÁ THỂ TRỒNG</a>
                         </li>
                         <li>
                             <a href="#">BLOG</a>
                         </li>
                         <li class="menu-item-has-children">
                             <a href="#">VỀ CHÚNG TÔI&nbsp;<i class="fa fa-angle-down"></i></a>
                             <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <h4 class="title">VỀ CHÚNG TÔI</h4>
                                    <ul>
                                        <li><a href="#">Giới thiệu</a></li>
                                        <li><a href="#">Chính sách & Điều khoản</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="./assets/images/dungcu1.png">
                                </div>
                             </div>
                         </li>
                      </ul>
                  </nav>
              </div>
          </div>
  </header> -->
