<div class="grid grid-cols-2">
    <div>
        <img src="assets/order_successful.png" alt="Descriptive text" class="object-cover" />
    </div>
    <div class="text-center pr-[50px]">
        <h1 class="font-bd-lifeless-grotesk text-[60px] text-[#23562A] mt-[150px]">ĐẶT HÀNG THÀNH CÔNG</h1>
        <p class="font-noto-sans text-[30px]">
            Bạn đã đặt hàng thành công !!! Bạn hãy đợi một xíu thời gian để nhận được hàng nhé!
        </p>
        <div class="flex font-noto-sans font-medium text-[18px] justify-end gap-x-5">
            <a href="#" class="inline-block">
                <div class="border border-[2px] border-solid rounded-[5px] inline-block p-[10px] border-[#23562A] text-[#23562A] font-bold w-[200px] h-[30px]">
                    TIẾP TỤC MUA SẮM
                </div>
            </a>
            <a href="#" class="inline-block">
                <div class="border border-[2px] border-solid rounded-[5px] inline-block p-[10px] bg-[#23562A] border-[#23562A] text-white font-bold w-[200px] h-[30px]">
                    TRANG CHỦ
                </div>
            </a>
        </div>
    </div>
</div>
<div>
    <h1 class="font-bd-lifeless-grotesk text-[50px] text-[#23562A] mt-[50px] text-center">SẢN PHẨM TƯƠNG TỰ</h1>
    <div class="grid grid-cols-4">
        <div style="margin-left: 50%; transform: translateX(-50%);">
            <app-product-main></app-product-main>
        </div>
        <div style="margin-left: 50%; transform: translateX(-50%);">
            <app-product-main></app-product-main>
        </div>
        <div style="margin-left: 50%; transform: translateX(-50%);">
            <app-product-main></app-product-main>
        </div>
        <div style="margin-left: 50%; transform: translateX(-50%);">
            <app-product-main></app-product-main>
        </div>
      </div>
      
</div>