<div
  class="relative bg-[#fefff8] w-[1440] h-[2731px] overflow-hidden text-left text-[14px] text-[#23562a] font-noto-sans">
  <b class="absolute top-[185px] left-[23px] text-[25px] inline-block text-center w-[1404px] h-[33px]">
    BLOG
  </b>
  <div
    class="absolute top-[211px] left-[427px] text-[16px] text-black text-center flex items-center justify-center w-[636px] h-[95px]">
    Hãy cùng INDOFA khám phá một cuộc hành trình đầy sáng tạo và kết nối chặt chẽ với thiên nhiên!
  </div>

  <!--Blog category 1 -->
  <div class="absolute top-[325px] left-[0px] w-[1456px] h-[485px]">
    <a href="#">
      <img class="absolute top-[0px] left-[0px] w-[481px] h-[400px] object-cover hover:shadow-lg transition-shadow"
        src="../../assets/images/image-blog-1.png" />
    </a>
    <div class="absolute top-[0px] left-[481px] bg-[#e7f4e5] w-[960px] h-[481px]"></div>
    <b class="absolute top-[37px] left-[452px] text-[25px] inline-block text-center w-[1004px] h-[33px]">
      MÙA NÀO CÂY NẤY
    </b>

    <img class="absolute top-[189px] left-[513px] w-[49px] h-[43px] object-cover hover:scale-110"
      src="../../assets/images/next-symbol-1.png" />

    <!--Blog article 1.1 -->
    <div class="absolute top-[100px] left-[550px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-1.1.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Mùa xuân nở rộ
          </b>
          <div
            class="absolute top-[240px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Mùa xuân là thời điểm lý tưởng để thêm một chút sức sống vào ngôi nhà của bạn bằng cách ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <!--Blog article 1.2-->
    <div class="absolute top-[100px] left-[820px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-1.2.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Màu xanh đón hè về
          </b>
          <div
            class="absolute top-[240px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Mùa hè đem lại ánh nắng sáng rực rỡ, nhiệt độ cao, và nhiều hoạt động ngoài trời thú vị ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <!--Blog article 1.3-->
    <div class="absolute top-[100px] left-[1105px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[15px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-1.3.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Vẻ đẹp của mùa thu
          </b>
          <div
            class="absolute top-[240px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Mùa thu là một trong những thời điểm đẹp nhất của năm, khi thiên nhiên biến đổi ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <img class="absolute top-[189px] left-[1354px] w-[49px] h-[43px] object-cover hover:scale-110"
      src="../../assets/images/next-symbol-2.png" />
  </div>

  <!--Blog category 2 -->
  <div class="absolute top-[923px] left-[-29px] w-[1468px] h-[485px]">
    <a href="#">
      <img class="absolute top-[0px] left-[984px] w-[484px] h-[481px] object-cover hover:shadow-lg transition-shadow"
        src="../../assets/images/image-blog-2.png" />
    </a>
    <div class="absolute top-[0px] left-[29px] bg-[#e7f4e5] w-[960px] h-[481px]"></div>

    <b class="absolute top-[37px] left-[0px] text-[25px] inline-block text-center w-[1004px] h-[33px]">
      KHÔNG GIAN SỐNG XANH CÙNG INDOFA
    </b>
    <img class="absolute top-[189px] left-[61px] w-[49px] h-[43px] object-cover hover:scale-110"
      src="../../assets/images/next-symbol-1.png" />

    <!--Blog article 2.1-->
    <div class="absolute top-[100px] left-[100px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-2.1.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Căn nhà xanh trong mơ
          </b>
          <div
            class="absolute top-[240px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Khi cuộc sống ngày càng hiện đại và nơi ở trở nên chật chội, việc tạo ra ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <!--Blog article 2.2-->
    <div class="absolute top-[100px] left-[372px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-2.2.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Chuyển hướng phong cách sống
          </b>
          <div
            class="absolute top-[245px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Khi cuộc sống ngày càng hiện đại và nơi ở trở nên chật chội, việc tạo ra ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <!--Blog article 2.3-->
    <div class="absolute top-[100px] left-[654px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-2.3.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Tạo không gian sống xanh cùng INDOFA
          </b>
          <div
            class="absolute top-[245px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Chào mừng các tín đồ cây cảnh và người yêu thiên nhiên đến với Indofa!
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <img class="absolute top-[189px] left-[902px] w-[49px] h-[43px] object-cover hover:scale-110"
      src="../../assets/images/next-symbol-2.png" />
  </div>

  <!--Blog category 3 -->
  <div class="absolute top-[1523px] left-[0px] w-[1456px] h-[487px]">
    <a href="#">
      <img class="absolute top-[0px] left-[0px] w-[481px] h-[481px] object-cover hover:shadow-lg transition-shadow"
        src="../../assets/images/image-blog-3.png" />
    </a>
    <div class="absolute top-[0px] left-[481px] bg-[#e7f4e5] w-[960px] h-[481px]"></div>

    <b class="absolute top-[37px] left-[452px] text-[25px] inline-block text-center w-[1004px] h-[33px]">
      NƠI KHƠI MÀU CẢM XÚC
    </b>

    <img class="absolute top-[189px] left-[513px] w-[49px] h-[43px] object-cover hover:scale-110"
      src="../../assets/images/next-symbol-1.png" />

    <!--Blog article 3.1.-->
    <div class="absolute top-[100px] left-[550px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-3.1.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Tìm về chốn bình yên
          </b>
          <div
            class="absolute top-[245px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Trong thế giới ồn ào và hối hả của cuộc sống hiện đại, tôi tìm thấy một ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <!--Blog article 3.2-->
    <div class="absolute top-[100px] left-[820px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-3.2.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Món quà yêu thương
          </b>
          <div
            class="absolute top-[245px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Cuộc sống thường xuyên đưa chúng ta vào những cuộc đua vội vã của ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>

    <!--Blog article 3.3-->
    <div class="absolute top-[100px] left-[1105px] w-[325px] h-[385px]">
      <a href="#">
        <div
          class="absolute top-[-10px] left-[28px] w-[215px] h-[355px] hover:shadow-lg transition-shadow hover:scale-105">
          <img class="absolute top-[15px] left-[10px] w-[194px] h-[200px] object-cover"
            src="../../assets/images/image-blog-3.3.png" />
          <b class="absolute top-[220px] left-[10px] flex items-center w-[188px] h-[22px]">
            Cơn gió mùa hè
          </b>
          <div
            class="absolute top-[245px] left-[10px] text-[12px] text-black flex items-center w-[188px] h-[67px] text-justify">
            Trong những ngày hè oi bức, một cơn gió mát mẻ thổi qua ngôi nhà nhỏ...
          </div>
          <div class="absolute top-[315px] left-[10px] w-[325px] h-[95px]">
            <img src="../../assets/img/Frame 59.png" class="w-[90px] h-[25px]">
            <img src="../../assets/img/Frame 87.png"
              class="w-[90px] h-[25px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
          </div>
        </div>
      </a>
    </div>
    <img class="absolute top-[189px] left-[1358px] w-[49px] h-[43px] object-cover hover:scale-110"
      src="../../assets/images/next-symbol-2.png" />
  </div>
</div>