<!-- MAIN BLOG PAGE -->
<div class="h-full w-full">
  <div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260;
    <p routerLink="/blogs" class="text-[#23562A] hover:underline">Blog</p>
  </div>
  <div class="text-[14px] text-[#23562a] font-noto-sans w-full h-full bg-[#FEFFF8]">
    <p class="relative text-[35px] text-center flex items-center justify-center font-custom">
      BLOG
    </p>
    <p class="text-[16px] text-black text-center flex items-center justify-center">
      Hãy cùng INDOFA khám phá một cuộc hành trình đầy sáng tạo và kết nối chặt chẽ với thiên nhiên!
    </p>

    <br/>
  </div>

<!-- Blog category 1 -->
<div class="w-full h-[480px] bg-[#e7f4e5] grid grid-cols-[480px_1fr] gap-[20px] items-center ">
  <div>
    <img class="w-full h-full hover:shadow-lg transition-shadow" src="../../assets/images/image-blog-1.png" alt="Blog Image">
  </div>
  <div class="grid grid-rows-[10%_85%] gap-[30px]">
    <a routerLink="/blogcategory/season" class="relative no-underline text-current">
      <p class="text-[25px] text-center py-4 font-custom text-[#23562A]">MÙA NÀO CÂY NẤY</p>
    </a>
    <swiper-container slides-per-view="3" speed="500" space-between="10" css-mode="true" navigation="true">
      <ng-container *ngFor="let blog of season_blogs">
        <app-loader style="margin-left: 50%;transform: translateX(-50%);" *ngIf="season_loading"></app-loader>
        <swiper-slide>
          <a routerLink="/blogcategory/{{blog.blogID}}" class="justify-center flex no-underline text-current">
            <div class="w-[215px] h-[355px] items-center hover:shadow-lg transition-shadow hover:scale-105">
              <img class="w-[195px] h-[200px] ml-[10px]" src="../../assets/images/{{blog.main_img}}" />
              <br>
              <div class="mx-[10px] font-custom text-[16px] truncate">
                {{blog.title}}
              </div>
              <div class="text-[12px] text-black h-[45px] mx-[10px] text-justify truncate">
                {{blog.abstract}}
              </div>

              <div class="relative w-[325px] ml-[10px]">
                <div class="absolute flex justify-center">
                  <a routerLink="/blogcategory/{{blog.blogID}}">
                    <div class="btn-main text-[13px]">
                      Xem thêm →
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>
</div>

<div class="w-full h-[100px] bg-[#FEFFF8]"></div>

<!-- Blog category 2 -->
<div class="w-full h-[480px] bg-[#E7F4E5] grid grid-cols-[1fr_480px] gap-[20px] items-center ">
  <div class="grid grid-rows-[10%_85%] gap-[30px]">
    <a routerLink="/blogcategory/space" class="no-underline text-current">
      <p class="text-[25px] text-center font-bold py-4 font-custom text-[#23562A]">KHÔNG GIAN SỐNG XANH CÙNG INDOFA</p>
    </a>
    <swiper-container slides-per-view="3" speed="500" space-between="10" css-mode="true" navigation="true">
      <ng-container *ngFor="let blog of space_blogs">
        <app-loader style="margin-left: 50%;transform: translateX(-50%);" *ngIf="space_loading"></app-loader>
        <swiper-slide>
          <a routerLink="/blogcategory/{{blog.blogID}}" class="justify-center flex no-underline text-current">
            <div class="w-[215px] h-[355px] items-center hover:shadow-lg transition-shadow hover:scale-105">
              <img class="w-[195px] h-[200px] ml-[10px]" src="../../assets/images/{{blog.main_img}}" />
              <br>
              <div class="mx-[10px] font-custom text-[16px] truncate">
                {{blog.title}}
              </div>
              <div class="text-[12px] text-black h-[45px] mx-[10px] text-justify truncate">
                {{blog.abstract}}
              </div>

              <div class="relative w-[325px] ml-[10px]">
                <div class="absolute flex justify-center">
                  <a routerLink="/blogcategory/{{blog.blogID}}">
                    <div class="btn-main text-[13px]">
                      Xem thêm →
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>
  <div>
    <img class="w-full h-full hover:shadow-lg transition-shadow" src="../../assets/images/image-blog-2.png" alt="Blog Image">
  </div>
</div>

<div class="w-full h-[100px]"></div>

<!-- Blog category 3 -->
<div class="w-full h-[480px] bg-[#E7F4E5] grid grid-cols-[480px_1fr] gap-[20px] items-center ">

  <div>
    <img class="w-full h-full hover:shadow-lg transition-shadow" src="../../assets/images/image-blog-3.png" alt="Blog Image">
  </div>
  <div class="grid grid-rows-[10%_85%] gap-[30px]">
    <a routerLink="/blogcategory/emotion" class="no-underline text-current">
      <p class="text-[25px] text-center font-bold py-4 font-custom text-[#23562A]">NƠI KHƠI MÀU CẢM XÚC</p>
    </a>
    <swiper-container slides-per-view="3" speed="500" space-between="10" css-mode="true" navigation="true">
      <ng-container *ngFor="let blog of emotion_blogs">
        <app-loader style="margin-left: 50%;transform: translateX(-50%);" *ngIf="emotion_loading"></app-loader>
        <swiper-slide>
          <a routerLink="/blogcategory/{{blog.blogID}}" class="justify-center flex no-underline text-current">
            <div class="w-[215px] h-[355px] items-center hover:shadow-lg transition-shadow hover:scale-105">
              <img class="w-[195px] h-[200px] ml-[10px]" src="../../assets/images/{{blog.main_img}}" />
              <br>
              <div class="mx-[10px] font-custom text-[16px] truncate">
                {{blog.title}}
              </div>
              <div class="text-[12px] text-black h-[45px] mx-[10px] text-justify truncate">
                {{blog.abstract}}
              </div>

              <div class="relative w-[325px] ml-[10px]">
                <div class="absolute flex justify-center">
                  <a routerLink="/blogcategory/{{blog.blogID}}">
                    <div class="btn-main text-[13px]">
                      Xem thêm →
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>
</div>

<div class="w-full h-[100px] bg-[#FEFFF8]"></div>

</div>
