<!-- MAIN BLOG PAGE -->
<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black gap-x-2">
    <a routerLink="" class="hover:underline">Trang chủ</a> &#8260; 
    <p routerLink="/blogs" class="text-[#23562A] hover:underline">Blog</p>
</div>
<div class="text-[14px] text-[#23562a] font-noto-sans w-full h-screen bg-[#FEFFF8]">
  <p class="relative text-[35px] text-center flex items-center justify-center font-custom">
    BLOG
  </p>
  <p class="text-[16px] text-black text-center flex items-center justify-center">
    Hãy cùng INDOFA khám phá một cuộc hành trình đầy sáng tạo và kết nối chặt chẽ với thiên nhiên!
  </p>

  <br/>
  
<!-- Blog category 1 -->
<a routerLink="/blogcategory" class="relative no-underline text-current">
  <div class="w-full h-[480px] bg-[#e7f4e5] grid grid-cols-[480px_1fr_11fr_1fr] gap-[30px] items-center ">

    <div class="relative">
      <img class="w-full h-full hover:shadow-lg transition-shadow" src="../../assets/images/image-blog-1.png" alt="Blog Image">
    </div>

    <img class="w-[49px] h-[43px] hover:scale-110" src="../../assets/images/next-symbol-1.png" />

    <div class="grid grid-rows-[10%_85%] gap-[30px]">
      <p class="text-[25px] text-center py-4 font-custom ">MÙA NÀO CÂY NẤY</p>
      <div class="blog-container grid grid-cols-3 gap-[60px]">
        <a routerLink="/blog">
          <app-blog-small 
            [small]="[{ title: 'Mùa xuân nở rộ', summary: 'Mùa xuân là thời điểm lý tưởng để thêm một chút sức sống vào ngôi nhà của bạn bằng cách ...', image: 'image-blog-1.1.png' }]">
          </app-blog-small>
        </a>
        <app-blog-small 
          [small]="[{ title: 'Màu xanh đón hè về', summary: 'Mùa hè đem lại ánh nắng sáng rực rỡ, nhiệt độ cao, và nhiều hoạt động ngoài trời thú vị...', image: 'image-blog-1.2.png' }]">
        </app-blog-small>
        <app-blog-small 
          [small]="[{ title: 'Vẻ đẹp của mùa thu', summary: 'Mùa thu là một trong những thời điểm đẹp nhất của năm, khi thiên nhiên biến đổi...', image: 'image-blog-1.3.png' }]">
        </app-blog-small>        
      </div>
    </div>
    
    <img class="w-[49px] h-[43px] hover:scale-110" src="../../assets/images/next-symbol-2.png" />
  </div>
</a>

<div class="w-full h-[100px] bg-[#FEFFF8] grid grid-cols-[1fr_11fr_1fr_480px] gap-[30px] items-center "></div>

<!-- Blog category 2 -->
<a href="#" class="no-underline text-current">
  <div class="w-full h-[480px] bg-[#E7F4E5] grid grid-cols-[1fr_11fr_1fr_480px] gap-[30px] pl-[30px] items-center ">

    <img class="w-[49px] h-[43px] hover:scale-110" src="../../assets/images/next-symbol-1.png" />

    <div class="grid grid-rows-[10%_85%] gap-[30px]">
      <p class="text-[25px] text-center font-bold py-4 font-custom">KHÔNG GIAN SỐNG XANH CÙNG INDOFA</p>
      <div class="blog-container grid grid-cols-3 gap-[60px]">
        <app-blog-small 
          [small]="[{ title: 'Căn nhà xanh trong mơ', summary: 'Khi cuộc sống ngày càng hiện đại và nơi ở trở nên chật chội, việc tạo ra...', image: 'image-blog-2.1.png' }]">
        </app-blog-small>
        <app-blog-small 
          [small]="[{ title: 'Phong cách sống xanh', summary: 'Khi cuộc sống ngày càng hiện đại và nơi ở trở nên chật chội, việc tạo ra...', image: 'image-blog-2.2.png' }]">
        </app-blog-small>
        <app-blog-small 
          [small]="[{ title: 'Tạo không gian sống xanh', summary: 'Chào mừng các tín đồ cây cảnh và người yêu thiên nhiên đến với INDOFA!', image: 'image-blog-2.3.png' }]">
        </app-blog-small>
      </div>
    </div>
    
    <img class="w-[49px] h-[43px] hover:scale-110" src="../../assets/images/next-symbol-2.png" />

    <div class="relative">
      <img class="w-full h-full hover:shadow-lg transition-shadow" src="../../assets/images/image-blog-2.png" alt="Blog Image">
    </div>
  </div>
</a>

<div class="w-full h-[100px] bg-[#FEFFF8] grid grid-cols-[480px_1fr_12fr_1fr] gap-[30px] items-center "></div>

<!-- Blog category 3 -->
<a href="#" class="no-underline text-current">
  <div class="w-full h-[480px] bg-[#E7F4E5] grid grid-cols-[480px_1fr_12fr_1fr] gap-[30px] items-center ">

    <div class="relative">
      <img class="w-full h-full hover:shadow-lg transition-shadow" src="../../assets/images/image-blog-3.png" alt="Blog Image">
    </div>

    <img class="w-[49px] h-[43px] hover:scale-110" src="../../assets/images/next-symbol-1.png" />

    <div class="grid grid-rows-[10%_85%] gap-[30px]">
      <p class="text-[25px] text-center font-bold py-4 font-custom">NƠI KHƠI MÀU CẢM XÚC</p>
      <div class="blog-container grid grid-cols-3 gap-[60px]">
        <app-blog-small 
          [small]="[{ title: 'Tìm về chốn bình yên', summary: 'Trong thế giới ồn ào và hối hả của cuộc sống hiện đại, tôi tìm thấy một...', image: 'image-blog-3.1.png' }]">
        </app-blog-small>
        <app-blog-small 
          [small]="[{ title: 'Món quà yêu thương', summary: 'Cuộc sống thường xuyên đưa chúng ta vào những cuộc đua vội vã của...', image: 'image-blog-3.2.png' }]">
        </app-blog-small>
        <app-blog-small 
          [small]="[{ title: 'Cơn gió mùa hè', summary: 'Trong mùa hè oi bức, một cơn gió thoảng qua căn nhà nhỏ...', image: 'image-blog-3.3.png' }]">
        </app-blog-small>
      </div>
    </div>
    
    <img class="w-[49px] h-[43px] bg-[#E7F4E5] hover:scale-110" src="../../assets/images/next-symbol-2.png" />
  </div>
</a>

<div class="w-full h-[100px] bg-[#FEFFF8] grid grid-cols-[480px_1fr_12fr_1fr] gap-[30px] items-center "></div>

</div>