<swiper-container slides-per-view="4" speed="500" space-between="5" css-mode="true" navigation="true">
  <ng-container *ngFor="let blog of blogs">
    <app-loader style="margin-left: 50%;transform: translateX(-50%);" *ngIf="blogs_loading"></app-loader>
    <swiper-slide>
      <a routerLink="/blogcategory/{{blog.blogID}}" class="justify-center flex no-underline text-current">
        <div class="w-[160px] h-[300px] items-center hover:shadow-lg transition-shadow hover:scale-105">
          <img class="w-[140px] h-[147px] ml-[10px]" src="{{blog.main_img}}" />
          <br>
          <div class="mx-[10px] font-custom text-[16px] truncate">
            {{blog.title}}
        </div>
        <div class="text-[12px] text-black h-[45px] mx-[10px] text-justify truncate">
          {{blog.abstract}}
        </div>
          <a href="/blogcategory/{{blog.blogID}}">
            <div class="btn-main mt-[10px] ml-[10px] text-[10px]">
              Xem thêm →
            </div>
          </a>
        </div>
      </a>
    </swiper-slide>
  </ng-container>
</swiper-container>
