<div class="bg-[#e7f4e5] w-full h-8 pl-[50px] flex items-center text-black gap-x-2">
  <a routerLink="" class="hover:underline">TRANG CHỦ</a> &#8260;
  <p routerLink="" class="text-[#23562A] hover:underline">THANH TOÁN</p> &#8260;
  <p routerLink="" class="text-[#23562A] hover:underline">CHỌN ĐỊA CHỈ GIAO HÀNG</p> &#8260;
  <p class="text-[#23562A] hover:underline">SỬA ĐỊA CHỈ</p>
</div>
<div class="m-[50px] border-[#9A9898] border-2 py-[50px] px-[57px]">
  <div>
      <div class="w-full bg-[#E7F4E5] p-1">
          <p class="text-[22px] text-[#23562A] font-custom">Tỉnh / Thành phố</p>
      </div>
      <div>
      <select class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] px-[16px]">
          <option>Nhi 1</option>
      </select>
      </div>
  </div>
  <div class="mt-[10px]">
      <div class="w-full bg-[#E7F4E5] p-1">
          <p class="text-[22px] text-[#23562A] font-custom">Quận / Huyện</p>
      </div>
      <div>
      <select class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] px-[16px]">
          <option>Nhi 1</option>
      </select>
      </div>
  </div>
  <div class="mt-[10px]">
      <div class="w-full bg-[#E7F4E5] p-1">
          <p class="text-[22px] text-[#23562A] font-custom">Phường / Xã</p>
      </div>
      <div>
      <select class="w-full bg-[#FEFFF8] py-[8px] border-[1px] rounded-[5px] border-[#AAAAAA] text-[#AAAAAA] mt-[10px] px-[16px]">
          <option>Nhi 1</option>
      </select>
      </div>
  </div>
</div>
<div class="my-[80px] text-right mr-[50px]">
  <button class="text-[18px] text-[#FEFFF8] bg-[#23562A] w-[200px] py-[14px] rounded-[10px]">
      HOÀN THÀNH
  </button>
</div>

