<div class="flex flex-wrap">
  <p class="text-[#23562A] text-[30pt] font-bold">SẢN PHẨM</p>
  <div class=" flex flex-wrap mt-[15px] ml-auto ">
    <div class="searchbox w-[285px] mr-[10px]" id="searchbox">
      <div class="relative w-[285px] h-[30px] ">
        <input type="text"
          class="pl-[20px] rounded-[10px] text-[13px] w-full h-full py-[10px] bg-[#FEFFF8] border-2 border-[#23562A] "
          placeholder="Tìm kiếm sản phẩm..." (input)="sendData($event)" />
        <div class="btn btn_common">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </div>
    <div
      class="bg-[#23562A] w-[181px] h-[30px] text-white pl-3 pr-3 text-[10pt] rounded-[10px] pt-[6px] cursor-pointer mr-[10px]"
      (click)="createProduct()">
      <p class="float-left">Thêm sản phẩm</p>
      <p class="float-right">+</p>
    </div>
    <select class="w-[200px] h-[30px] text-[10pt] rounded-[10px] mr-[10px]" style="border: 2px solid #23562A">
      <option class="text-black">Lọc theo danh mục...</option>
      <option>Củ quả</option>
      <option>Hoa</option>
    </select>
  </div>
</div>
<!-- Hiển thị sản phẩm -->

<table class="w-full text-center">
  <tr>
    <th>ID</th>
    <th>Danh mục</th>
    <th>Hình ảnh</th>
    <th>Sản phẩm</th>
    <th>Hiển thị</th>
    <th></th>
  </tr>

  <tbody *ngFor="let product of products_list">

    <tr>
      <td>{{product.productID}}</td>
      <td>{{product.productCategory}}</td>
      <td><img style="margin-left:50%;transform:translateX(-50%)" src="{{ product.productImgSourceReduce }}"></td>
      <td>{{product.productTitle}}</td>
      <td>
        <input type="checkbox" value="{{ product.productActive }}" [checked]="product.productActive" />
      </td>
      <td>
        <button (click)="updateProduct(product.productID)"
          class="w-[100px] h-[35px] rounded-[10px] text-white text-[10pt]" style=" background-color: #23562A;">
          Chỉnh sửa</button>
        <button (click)="deleteProduct(product.productID)"
          class="w-[74px] h-[35px] rounded-[10px] text-white text-[10pt] ml-[5px]" style=" background-color: #FB6565; ">
          Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
